@using EtheriT.Coker.Application.Shared.Dto.HtmlContent
@using EtheriT.Coker.Application.Shared.Dto.Product
@using EtheriT.Coker.Application.Shared.Dto.WebMenu
@using EtheriT.Coker.Web.Public.Views.Shared.Components.Modal
@using EtheriT.Coker.Web.Public.Models
@using System.Web;
@model HomeViewModel
@{
    ViewData["SideName"] = Model.PageData.SiteName;
	ViewData["OrgName"] = Model.OrgName;
    ViewData["PageName"] = Model.PageData.SiteName;
    ViewData["Layout"] = Model.layout;
    ViewData["PageTagNameName"] = Model.PageData.SiteName;
	ViewData["Description"] = Model.PageData.Description;
	ViewData["GA4"] = Model.storeSet.GA4;
	ViewData["VisibleHeader"] = Model.PageData.VisibleHeader;
	ViewData["VisibleFooter"] = Model.PageData.VisibleFooter;
}

<link rel="stylesheet" href="~/css/Home/Index.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Shared/shared.min.css" asp-append-version="true" />
<script src="~/js/Home/Index.min.js" asp-append-version="true"></script>
<script src="~/Shared/shared.min.js" asp-append-version="true"></script>

<Content id="main" class="d-none">@HttpUtility.HtmlEncode(Model.PageData.Html)</Content>
<div id="PostCSS" class="d-none">@HttpUtility.HtmlEncode(Model.PageData.Css)</div>

<!-- Shopping Car -->
<div id="ShoppingCarModal" class="modal fade" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    @await Component.InvokeAsync(nameof(Modal), new {dispaly = "ShoppingCarModal"})
</div>

<!-- EnterAdModal -->
@if (Model.enterAd.Count > 0)
{
    <div id="EnterAdModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-enteradid="@Model.enterAd[0].Id">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="bg-white btn-close end-0 me-3 p-2 position-absolute rounded-circle" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="d-flex justify-content-center">

                        @if (Model.enterAd[0].Link != "")
                        {
                            var target = Model.enterAd[0].Target == true ? "_blank" : "_self";
                            var title = Model.enterAd[0].Target == true ? $"連結至：{Model.enterAd[0].Title}(另開視窗)" : $"連結至：{Model.enterAd[0].Title}";
                            <a href="@Model.enterAd[0].Link" target="@target" title="@title">
                                <ul>
                                    @foreach (var img in Model.enterAd[0].Img)
                                    {
                                        <li><img class="img-fluid d-block mx-auto" src="@img" alt="@Model.enterAd[0].Title" /></li>
                                    }
                                </ul>
                            </a>
                        }
                        else
                        {
                            <ul>
                                @foreach (var img in Model.enterAd[0].Img)
                                {
                                    <li><img class="img-fluid d-block mx-auto" src="@img" alt="@Model.enterAd[0].Title" /></li>
                                }
                            </ul>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}