@using EtheriT.Coker.Web.MVC.Views.Shared.Components.Sidebar;
@model Site;

<nav class="navbar navbar-dark bg-primary">
	<a class="navbar-brand m-0 py-2 brand-title" href="#">@Model.Title</a>
	<span></span>
	<a class="navbar-brand py-2 material-icons toggle-sidebar" href="#">menu</a>
</nav>
<nav class="navigation">
	<ul>
		@{
			foreach (var item in Model.Jobs)
			{
				@if (item.jobItemModels == null)
				{
					string myClass = item.PageName == ViewData["Title"].ToString() ? "active" : "";
					<li class="@myClass">
						<a title="@item.PageName" asp-controller="@item.Controller" asp-action="@item.Action">
							<span class="nav-icon material-icons">@item.Icon</span>@item.Title
						</a>
					</li>
				}
				else
				{
					string brighten = "";
					if (item.jobItemModels.Exists(e => e.PageName == ViewData["Title"].ToString()))
					{
						brighten = "active open";
					}

					<li class="@brighten">

						<a title="@item.PageName" asp-controller="@item.Controller" asp-action="@item.Action">
							<span class="nav-icon material-icons "> @item.Icon </span>@item.Title<span class="toogle-sub-nav material-icons"> keyboard_arrow_right </span>
						</a>
						<ul class="sub-nav">
							@foreach (var subJob in item.jobItemModels ?? new List<JobMenu>())
							{
								string myClass = subJob.PageName == ViewData["Title"].ToString() ? "active" : "";
								<li class="@myClass">
									<a title="@subJob.PageName" asp-controller="@subJob.Controller" asp-action="@subJob.Action">
										<span class="nav-icon material-icons">@subJob.Icon</span>@subJob.Title
									</a>
								</li>
							}
						</ul>
					</li>
				}
			}
		}
	</ul>
</nav>