@using EtheriT.Coker.Web.Public.Views.Shared.Components.Footer
@using EtheriT.Coker.Application.Shared.i18n;
@model FooterViewModel
<link rel="stylesheet" href="~/css/Footer/Footer_Layout_5.min.css" asp-append-version="true" />
@{
	switch (ViewData["Locale"] == null ? "" : ViewData["Locale"].ToString())
	{
		case "en":
			<link rel="stylesheet" href="~/css/Footer/Footer_Layout_5.en.min.css" asp-append-version="true" />
			break;
	}
}
<script src="~/js/Footer/Footer_Layout_1.min.js" asp-append-version="true"></script>

<div id="Collapse_Button" class="center" onclick="toggleFooterMenu()">
	<i class="fa-solid fa-chevron-down" ></i>
</div>
@if (Model.footerViewModels != null && Model.footerViewModels.Count > 0)
{
	<div id="FootContainer" class="container listMenu d-flex justify-content-center align-items-center">
		<div id="Footer_Menu" class="abreast row w-100">
			@foreach (var menu in Model.footerViewModels)
			{
				<div class="paging_frame">
					<p style="font-weight:bold;font-size:1.1rem;">@menu.Title</p>
					<div class="abreast">
						<ul>
							@foreach (var sub_menu in menu.footerViewModels ?? new List<FooterViewModel>())
							{
								<li><a href="@sub_menu.Link" class="text-white">@sub_menu.Title</a></li>
							}
						</ul>
					</div>
				</div>
			}
		</div>
	</div>
}
<div class="w-100 d-flex justify-content-center align-items-center flex-column footer-bg" style="background: url('/upload/htmlConten/footer_img.jpg')">
	<img src="\upload\htmlConten\footer_boat.png" class="footer-img" />
	<h5 class="my-1">@Model.Title</h5>
	<div id="" class="abreast my-1 d-flex justify-content-center align-items-center">
		@for (int i = 0; i < Model.Content.Count; i++)
		{
			<p>@Model.Content[i]</p>
		}
	</div>
</div>

<div id="Cookie" class="cookie position-fixed text-white w-100 bottom-0 justify-content-center align-items-center">
	<p class="cookie_text my-3 pe-3">
		<span>@L.get("cookieDeclare")</span>
	</p>
	<div id="Cookie_button">
		<div class="btn_cookie_accept m-2 p-1 px-4 rounded-2 text-center">@L.get("accept")</div>
		<div class="btn_cookie_reject m-2 p-1 px-4 rounded-2 text-center">@L.get("reject")</div>
	</div>
</div>
