@using EtheriT.Coker.Web.Public.Views.Shared.Components.Footer
@model FooterViewModel

<link rel="stylesheet" href="~/css/Footer/Footer_Layout_4.min.css" asp-append-version="true" />
<script src="~/js/Footer/Footer_Layout_4.min.js" asp-append-version="true"></script>

<div class="bg_cyan_blue text-white d-flex flex-column flex-lg-row justify-content-center align-items-center py-2 font_small">
    <div class="container d-flex">
        <div class="col-7 d-flex justify-content-center align-items-center px-2">
            <div class="align-items-start d-flex flex-column">
                @for (int i = 0; i < Model.Content.Count; i++)
                {
                    @if (Model.Sitemap_Link != null && i == Model.Content.Count - 1)
                    {
                        <div class="">
                            @Model.Content[i]
                            <a class="text-white text-decoration-underline" href="@Model.Sitemap_Link">網站導覽</a>
                        </div>
                    }
                    else
                    {
                        <div class="">@Model.Content[i]</div>
                    }
                }
            </div>
        </div>
        <div class="col-5 d-flex justify-content-center align-items-center py-2">
            @if (Model.Privacy_Link != null)
            {
                <a class="text-white text-decoration-underline" href="@Model.Privacy_Link">隱私權聲明</a>
            }
            @if (Model.Accessibility_Link != null && Model.Accessibility_Badge != null)
            {
                <a href="@Model.Accessibility_Link" target="_blank" rel="noopener noreferrer" title="連結至:無障礙網站AA認證(另開視窗)">
                    <img class="px-3" alt="通過AA檢測等級無障礙網頁檢測" src="@Model.Accessibility_Badge" asp-append-version="true" />
                </a>
            }
        </div>
    </div>
</div>