@using EtheriT.Coker.Web.Public.Views.Shared.Components.Footer
@model FooterViewModel

<link rel="stylesheet" href="~/css/Footer/Footer_Layout_1.min.css" asp-append-version="true" />
<script src="~/js/Footer/Footer_Layout_1.min.js" asp-append-version="true"></script>

<div id="Collapse_Button" class="center">
	<i class="fa-solid fa-chevron-down text-black"></i>
</div>
@if (Model.footerViewModels != null && Model.footerViewModels.Count > 0)
{
	<div id="Footer_Menu" class="abreast">
		@foreach (var menu in Model.footerViewModels)
		{
			<div class="paging_frame">
				<p style="font-weight:bold;font-size:1.1rem;">@menu.Title</p>
				<div class="abreast">
					<ul>
						@foreach (var sub_menu in menu.footerViewModels ?? new List<FooterViewModel>())
						{
							<li><a href="@sub_menu.Link" class="text-white">@sub_menu.Title</a></li>
						}
					</ul>
				</div>
			</div>
		}
	</div>
}
<div id="Footer_Bottom" class="center">
	<div id="Logo_Bottom">
		<div></div>
		<span><img src="@Model.Logo_Image" width="120" alt="Derek" /></span>
	</div>
	<div id="Other_Web_Button" class=" center">
		@if (!string.IsNullOrEmpty(Model.Facebook_Link))
		{
			<a href="@Model.Facebook_Link" title="連結至:粉絲團(另開新視窗)" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
		}
		@if (!string.IsNullOrEmpty(Model.YoutubeChannel_Link))
		{
			<a href="@Model.YoutubeChannel_Link" title="連結至:YT頻道(另開新視窗)" target="_blank">
				<i class="fa-brands fa-youtube"></i>
			</a>
		}
		@if (!string.IsNullOrEmpty(Model.IG_Link))
		{
			<a href="@Model.IG_Link" title="連結至:IG粉絲團(另開新視窗)" target="_blank"><i class="fa-brands fa-instagram"></i></a>
		}
	</div>
	<div id="Copyright" class="abreast">
		@for (int i = 0; i < Model.Content.Count; i++)
		{
			<p>@Model.Content[i]</p>
		}
	</div>
</div>