@using EtheriT.Coker.Web.Public.Views.Shared.Components.Header
@using EtheriT.Coker.Web.Public.Views.Shared.Components.MenuItem
@model HeaderViewModel

<link rel="stylesheet" href="~/css/Header/Header.min.css" asp-append-version="true" />
<script src="~/js/Header/Header.min.js" asp-append-version="true"></script>

<nav>
	<div id="Header_Top" class="d-flex">
		<div class="d-flex">
			<div class="news_text">New&ensp;</div>
			<div class="news_box">
				<ul class="clearfix">
					<li><a href="#">隆昌Derek正式上線蝦皮啦</a></li>
					<li><a href="#">Derek新竹旗艦店盛大開幕！代言人張鈞甯驚艷賞「衛浴美術館」</a></li>
				</ul>
			</div>
		</div>

		<div class="d-flex">
			<form action="/Search" class="searchblock bg-white rounded-pill d-lg-flex d-none pe-1 ps-3">
				<input type="hidden" name="id" />
				<input type="text" name="search" class="bg-transparent border-0">
				<button type="submit" class="align-self-center align-self-center bg-transparent border-0"><i class="fa-solid fa-magnifying-glass"></i></button>
			</form>
			<a class="fs-6 text-white d-lg-flex d-none ms-2 align-items-center" href="/Search">智慧搜尋</a>
			<div class="btn-group px-3">
				<button id="btn_car_dropdown" class="bg-transparent border-0 text-white ms-1 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fa-solid fa-cart-shopping"></i>
					<span id="Car_Badge" class="badge position-absolute rounded-pill"></span>
				</button>

				<div id="Car_Dropdown" class="dropdown-menu dropdown-menu-end px-2 border-0 shadow-lg overflow-auto" aria-labelledby="btn_car_dropdown">
					<ul class="m-0">
						<template id="Template_Car_Dropdown">
							<li class="border-bottom me-4">
								<figure class="position-relative mb-0">
									<a class="pro_link d-flex" href="">
										<img class="pro_image" src="" alt="" />
										<figcaption>
											<div class="pro_name"></div>
											<div class="number d-flex">
												<div class="pro_unit price fw-bold"></div>
												<div class="pro_quantity fw-bold"></div>
											</div>
										</figcaption>
									</a>
									<button class="btn_cart_delete bg-transparent border-0 position-absolute">
										<i class="fa-solid fa-trash"></i>
									</button>
								</figure>
							</li>
						</template>
					</ul>

					<div id="Car_Dropdown_Null" class="drpy-3 text-center">購物車尚無商品</div>

					<button onclick="location.href='/ShoppingCar';" class="btn_car_buy text-white border-0 rounded-1 w-100 py-1 mt-2" disabled>購買</button>
				</div>
			</div>
			<button class="bg-transparent border-0 text-white mx-1 px-3"><i class="fa-regular fa-user"></i></button>
		</div>
	</div>

	<div id="Mega_Menu" class="abreast navbar navbar-expand-lg">
		<div class="mega_menu_logo center">
			<a href="/">
				@if (string.IsNullOrEmpty(Model.Title))
				{
					<h1>@Model.Title</h1>
				}
				else
				{
					<img src="@Model.LogoImageUrl" alt="Derek" class="center" />
					<h1 class="d-none">@Model.Title</h1>
				}
			</a>
			<div id="menuButton" class="menu-button navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarSupportedContent">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</div>
		</div>
		<div class="mega_menu_title offcanvas offcanvas-start" id="navbarSupportedContent" tabindex="-1" aria-labelledby="offcanvasExampleLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasLabel">@Model.Title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<ul class="navbar-nav me-auto offcanvas-body">
				<li class="d-md-flex d-lg-none">
					<div class="abreast smart-search">
						<input type="text">
						<i class="fa-solid fa-magnifying-glass"></i>
					</div>
				</li>
				<li class="d-md-none">
					<p>智慧搜尋</p>
				</li>
				@foreach (var menu in Model.menuItemModels ?? new List<MenuItemModel>())
				{
					<li class="mega_menu_subtitle nav-item">
						<a class="nav-link center">@menu.Title</a>
						<div class="mega_menu_content abreast shadow">
							<div class="text">
								<ul class="abreast">
									@foreach (var subMenu in menu.menuItemModels ?? new List<MenuItemModel>())
									{
										<li class="nav-item">
											<a class="nav-link">@subMenu.Title</a>
											<ul>
												@foreach (var thirdMenu in subMenu.menuItemModels ?? new List<MenuItemModel>())
												{
													<li><a = href="/@thirdMenu.Link">@thirdMenu.Title</a></li>
												}
											</ul>
										</li>
									}
								</ul>
							</div>
							<div class="image">
								@if (!string.IsNullOrEmpty(menu.imageUrl))
								{
									<a href="@menu.imageLink">
										<img src="@menu.imageUrl" alt="Photo" class="center" />
									</a>
								}
								@if (!string.IsNullOrEmpty(menu.Description))
								{
									<a href="@menu.imageLink">
										<div class="center"><p>@menu.Description</p></div>
									</a>
								}
							</div>
						</div>
					</li>
				}
			</ul>
		</div>
	</div>
</nav>