@using EtheriT.Coker.Application.Shared.Dto.Marquee
@using EtheriT.Coker.Web.Public.Views.Shared.Components.Header
@using EtheriT.Coker.Web.Public.Views.Shared.Components.MenuItem
@using EtheriT.Coker.Application.Shared.i18n;
@model HeaderViewModel
<link rel="stylesheet" href="~/css/Header/Header_Layout_7.min.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&display=swap" rel="stylesheet">
<script src="~/js/ProductAction.min.js" asp-append-version="true"></script>
<script src="~/js/Header/Header_Layout_7.min.js" asp-append-version="true"></script>

@{
	string imgurl = Model.LogoImageUrl.Substring(0, Model.LogoImageUrl.LastIndexOf("/"));
}

<nav class="navbar navbar-expand-lg flex-column p-0 fixed-top shadow">
	<!-- Mega Menu -->
	<div id="Mega_Menu" class=" navbar navbar-expand-lg w-100">
		<div id="iswrap" class="d-flex justify-content-center align-items-center w-100 bg-white">
			<div id="btnMenu" class="btn_menu navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#Offcanvas_Mega_Menu">
				<div class="menu">
					<!--<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>-->
					<i id="menuIcon" class="fas fa-bars h2"></i>
				</div>

			</div>

			<!-- Logo -->
			<div class="logo d-lg-none text-center py-lg-0 py-1">
				@{
					var logo_target = Model.HomeTarget == true ? "_blank" : "_self";
					var logo_title = Model.HomeTarget == true ? string.Format(L.get("LinkToAndBlank"), L.get("HomePage")) : string.Format(L.get("LinkTo"), L.get("HomePage"));
				}
				<a href="/" target="@logo_target" title="@logo_title">
					@if (string.IsNullOrEmpty(Model.Title))
					{
						<h1>@Model.Title</h1>
					}
					else
					{
						<img class="" src="@Model.LogoImageUrl" alt="@Model.Title" />
						<h1 class="sr-only">@Model.Title</h1>
					}
				</a>
			</div>
			<div id="icon-search is-block">
				<div class="icon-search-bg d-flex justify-content-center align-items-center">
					<a href="/@ViewData["OrgName"]/Search" class="fa-solid fa-search mx-2"></a>
				</div>
			</div>
		</div>
		<!-- Logo -->
		<div class="bg-color w-100">
			<div class="d-flex justify-content-around align-items-center  py-2 bg-img w50 w-100">
				<div class="d-none d-lg-flex logo m-2 justify-content-end">
					@{
						var home_target = Model.HomeTarget == true ? "_blank" : "_self";
						var home_title = Model.HomeTarget == true ? string.Format(L.get("LinkToAndBlank"), L.get("HomePage")) : string.Format(L.get("LinkTo"), L.get("HomePage"));
						if (string.IsNullOrEmpty(Model.HomeLink)) Model.HomeLink = "/";
					}
					<a href="/" target="@home_target" title="@home_title">
						@if (string.IsNullOrEmpty(Model.Title))
						{
							<h1>@Model.Title</h1>
						}
						else
						{
							<img src="@Model.LogoImageUrl" alt="@Model.Title" class="logo-img" />
							<h1 class="d-none">@Model.Title</h1>
						}
					</a>
				</div>
				<div class="position-relative">
					<div id="Search" class="d-flex lh-lg justify-content-center align-items-center">
						<input id="SearchInput" class="input_sear form-control   fs_change  input-pd" type="search" placeholder="" aria-label="Search">
						<span class="material-symbols-outlined icon position-absolute">search</span>
						@foreach (var menu in Model.langMenuItemModels)
						{
							var target = menu.Target ?? false ? "_blank" : "_self";
							var targetStr = menu.Target ?? false ? string.Format(L.get("LinkToAndBlank"), menu.Title) : string.Format(L.get("LinkTo"), menu.Title);
							<a href="@menu.Link" class="mx-2 switch-button" title="@targetStr" target="@target">@menu.Title</a>
						}
					</div>
				</div>
			</div>
		</div>
		@{
			List<MenuItemModel> MenuItems = Model.menuItemModels ?? new List<MenuItemModel>();
			int changeMetaMenucont = 0;
		}
		<!-- Menu Canvas -->
		<div id="Offcanvas_Mega_Menu" class="mega_menu_canvas offcanvas offcanvas-start  col-12 col w-100 visible d-flex justify-content-center align-items-center " tabindex="-1" aria-labelledby="offcanvasExampleLabel">
			<!-- Menu Canvas Search Block -->
			<div class="offcanvas-header pt-4 ps-5">
				<h5 class="offcanvas-title fs-2 fw-bold" id="offcanvasLabel">@Model.Title</h5>
			</div>

			<!-- Menu Canvas Menu -->
			<a accesskey="U" href="javascript:void(0)" class="hide accesskey" title="@L.get("accesskeyTop")">:::</a>
			<ul class="navbar-nav offcanvas-body m-0 ">
				@foreach (var menu in MenuItems)
				{
					string headType = (menu.menuItemModels != null && menu.menuItemModels.Count() > changeMetaMenucont) || menu.Length > 0 ? "metaMenu" : "listMenu";
					string justifyContent = menu.menuItemModels != null && (menu.menuItemModels.Count() < (ViewData["Locale"] != null && (new List<string> { "zh-tw" }).Contains(ViewData["Locale"]) ? 5 : 4)) ? "justify-content-center" : "";
					<li class="title nav-item col-lg-3 @headType">
						@{
							List<MenuItemModel> subItems = menu.menuItemModels ?? new List<MenuItemModel>();
						}
						@if (subItems.Count() > 0)
						{
							<div class="mt-0 mt-lg-1 nav-link pb-0 pb-lg-3 text-nowrap text-white font">@menu.Title</div>
							<div class="content collapse_menus translate-middle-x">
								<ul class="@justifyContent" data-count-theme="@(menu.menuItemModels != null ? menu.menuItemModels.Count() : "0")">
									@foreach (var secItem in subItems)
									{
										var iconclass = secItem.Icon == "" ? "d-none" : "";
										var imageiconclass = secItem.ImageIcon == "" ? "d-none" : "";
										<li class="subtitle nav-item my-0 text-start">
											@{
												var target = secItem.Target == true ? "_blank" : "_self";
												var title = secItem.Target == true ? string.Format(L.get("LinkToAndBlank"), secItem.Title) : string.Format(L.get("LinkTo"), secItem.Title);
												if (string.IsNullOrEmpty(secItem.Link))
												{
													secItem.Link = "#";
													title = $"展開選單：{secItem.Title}";
												}
											}
											<a class="subtitle_title nav-link text-white text-start d-flex" href="@secItem.Link" title="@title" target="@target">
												<i class="@secItem.IconClass me-2 @iconclass">@secItem.Icon</i>
												<img class="@imageiconclass me-2" src="@secItem.ImageIcon" alt="@secItem.Title" />
												<span>
													@secItem.Title
												</span>
											</a>
											@if (secItem.menuItemModels != null && secItem.menuItemModels.Count() > 0 && menu.Title != "產品專區")
											{
												<ul class="row mx-0@($" hasRow{secItem.menuItemModels.Count()/3 + 1}")">
													@foreach (var thirdItem in secItem.menuItemModels ?? new List<MenuItemModel>())
													{
														iconclass = thirdItem.Icon == "" ? "d-none" : "";
														imageiconclass = thirdItem.ImageIcon == "" ? "d-none" : "";
														<li class="px-0">
															@if (secItem.Link != "")
															{
																target = thirdItem.Target == true ? "_blank" : "_self";
																title = thirdItem.Target == true ? string.Format(L.get("LinkToAndBlank"), thirdItem.Title) : string.Format(L.get("LinkTo"), thirdItem.Title);
																<a class="subtitle_title ps-2 nav-link text-black pt-0 pb-1 text-nowrap text-start fw-normal d-flex align-items-center" href="@thirdItem.Link" title="@title" target="@target">
																	<i class="@thirdItem.IconClass me-2 @iconclass">@thirdItem.Icon</i>
																	<img class="@imageiconclass me-2" src="@thirdItem.ImageIcon" alt="@thirdItem.Title" />
																	@thirdItem.Title
																</a>
															}
															else
															{
																<div class="subtitle_title ps-2 nav-link text-black py-1 text-nowrap text-start fw-normal d-flex align-items-center">
																	<i class="@thirdItem.IconClass me-2 @iconclass">@thirdItem.Icon</i>
																	<img class="@imageiconclass me-2" src="@thirdItem.ImageIcon" alt="@thirdItem.Title" />
																	@thirdItem.Title
																</div>
															}
														</li>
													}
												</ul>
											}
										</li>
									}
								</ul>
							</div>
						}
						else
						{
							<div class="mt-0 mt-lg-1 nav-link pb-0 pb-lg-3 text-nowrap text-white font">
								<a class="p-0 nav-link text-nowrap text-white" href="@menu.Link" target="@(menu.Target == true?"_blank":"_self")" title="@(menu.Target == true? string.Format(L.get("LinkToAndBlank"), menu.Title) : string.Format(L.get("LinkTo"), menu.Title))">
									@menu.Title
								</a>
							</div>
						}
					</li>
				}
				@foreach (var menu in Model.langMenuItemModels)
				{
					var target = menu.Target ?? false ? "_blank" : "_self";
					var targetStr = menu.Target ?? false ? string.Format(L.get("LinkToAndBlank"), menu.Title) : string.Format(L.get("LinkTo"), menu.Title);
					<li class="title nav-item col-lg-3 listMenu langMenu">
						<div class="mt-0 mt-lg-1 nav-link pb-0 pb-lg-3 text-nowrap font">
							<a href="@menu.Link" class="text-white" title="@targetStr" target="@target">@menu.Title</a>
						</div>
					</li>
				}
			</ul>
		</div>


		<!-- Tool Bar -->
		<!-- <div class="col-lg-2 col-4 d-flex justify-content-center mt-0 mt-lg-3 pb-0 pb-lg-2"> -->
		<!-- Search Block -->
		<!-- <button class="d-flex bg-transparent border-0">
				<span class="material-symbols-outlined bg-secondary bg-opacity-25 text-muted rounded-circle p-1 fs-5">search</span>
			</button>
			<button class="align-items-center bg-transparent border-0 d-flex p-0 p-lg-1">
				<div class="d-lg-flex d-none text-nowrap">智慧搜尋</div>
			</button>-->
		@if (Model.HasShoppingCar == true)
		{
			<div id="Cart_Dropdown_Parent" class="d-flex px-1">
				<button id="btn_car_dropdown" class="bg-transparent border-0 position-relative" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					<span class="d-flex fs-4 fw-light material-symbols-outlined">shopping_cart</span>
					<span id="Car_Badge" class="badge position-absolute rounded-pill"></span>
				</button>

				<div id="Car_Dropdown" class="dropdown-menu dropdown-menu-end px-2 border-0 shadow-lg overflow-auto me-5" aria-labelledby="btn_car_dropdown">
					<ul class="m-0">
						<template id="Template_Car_Dropdown">
							<li class="border-bottom me-4" data-scid="">
								<figure class="position-relative mb-0">
									<a data-key="link" class="pro_link d-flex" href="" title="" target="_blank">
										<img data-key="imagePath" class="pro_image me-2" src="" alt="" />
										<figcaption class="overflow-hidden">
											<div data-key="title" class="pro_name h-auto"></div>
											<div data-key="spec" class="pro_spec h-auto my-1"></div>
											<div class="number d-flex">
												<div data-key="price" data-type="price" class="pro_unit price fw-bold"></div>
												<div data-key="oldQuantity" data-type="quantity" class="pro_oldquantity fw-bold text-decoration-line-through d-none"></div>
												<div data-key="quantity" data-type="quantity" class="pro_quantity fw-bold"></div>
											</div>
										</figcaption>
									</a>
									<button class="btn_cart_delete bg-transparent border-0 position-absolute">
										<i class="fa-solid fa-trash"></i>
									</button>
								</figure>
							</li>
						</template>
					</ul>

					<div id="Car_Dropdown_Null" class="drpy-3 text-center">購物車尚無商品</div>

					<button onclick="location.href='/ShoppingCar';" class="btn_car_buy border-0 rounded-1 w-100 py-1 mt-2 text-white" disabled>購買</button>
				</div>
			</div>
		}

		<!-- Login Button -->
		<!--<div class="d-flex">
				<button class="bg-transparent border-0 d-flex align-items-center" type="button">
					<span class="material-symbols-outlined">person</span>
				</button>
			</div>
		</div> -->
	</div>
</nav>
<div class="image-wh">
	<img id="header-title" class="titleimage m-auto d-block" src="@imgurl/headertitile.jpg" alt="Header Titile" />
	<img id="header-title-phone" class="titleimage m-auto d-block" src="@imgurl/headertitle_phone.jpg" alt="Header Titile" />
</div>
<div id="swiper-light" class="headernews m-auto d-block position-relative">
	<img class="d-md-flex d-none m-auto d-block" src="@imgurl/marqueeblockbig.png" alt="Header Marquee Background" />
	<img class="d-md-none m-auto d-block" src="@imgurl/marqueeblocksmall.png" alt="Header Marquee Background" />
	<div class="content position-absolute row align-items-center w-100">
		<div class="text overflow-hidden text-white p-0 col">
			<div class="swiper marqueeSwiper swiper-initialized swiper-vertical swiper-pointer-events swiper-backface-hidden">
				<div class="swiper-wrapper">
					@foreach (var marquee in Model.marqueeModels ?? new List<MarqueeDisplayDto>())
					{
						var target = marquee.target == true ? "_blank" : "_self";
						var title = marquee.target == true ? $"連結至：{marquee.title}(另開視窗)" : $"連結至：{marquee.title}";
						var link = marquee.link;
						if (string.IsNullOrEmpty(link))
						{
							<div class="swiper-slide"><div class="overflow-hidden text" data-bs-toggle="tooltip" title="@marquee.title">@marquee.title <span class="sr-only">(current)</span></div></div>
						}
						else
						{
							<div class="swiper-slide"><a class="overflow-hidden text" data-bs-toggle="tooltip" title="@title" href="@link" target="@target">@marquee.title <span class="sr-only">(current)</span></a></div>
						}
					}
				</div>
			</div>
		</div>
	</div>
</div>
