@using EtheriT.Coker.Web.Public.Views.Shared.Components.Header
@using EtheriT.Coker.Web.Public.Views.Shared.Components.MenuItem
@model HeaderViewModel

<link rel="stylesheet" href="~/css/Header/Header_Layout_3.min.css" asp-append-version="true" />
<script src="~/js/Header/Header_Layout_3.min.js" asp-append-version="true"></script>

<div class="modal sear_modal fade" tabindex="-1">
	<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">搜尋</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer d-flex justify-content-center">
				<button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">關閉</button>
			</div>
		</div>
	</div>
</div>

<div class="bg-white">
	<div class="d-flex flex-column p-3 container">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid d-flex flex-wrap">
				<div class="d-flex align-items-center w-auto justify-content-between me-5">
					<a class="d-flex navbar-brand" href="@Model.HomeLink">
						<img class="logo w-100" src="@Model.LogoImageUrl" alt="@Model.Title">
					</a>
					<button class="btn_expand collapsed end-0 navbar-toggler position-absolute pt-1" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarContent" aria-controls="NavbarContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="material-symbols-outlined">expand_more</span>
					</button>
				</div>
				<div class="collapse_menus collapse navbar-collapse" id="NavbarContent">
					<ul class="navbar-nav mb-2 mb-lg-0 d-flex flex-wrap">
						@{
							var target = "_self";
							foreach (var menu in Model.menuItemModels ?? new List<MenuItemModel>())
							{
								@if (menu.menuItemModels != null)
								{
									<li class="nav-item dropdown px-2 my-1">
										<a class="d-flex dropdown-toggle justify-content-center nav-link nocontent ps-4 ps-lg-2 show text-nowrap" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											@menu.Title<span class="d-lg-none material-symbols-outlined">expand_more</span>
										</a>
										<ul class="dropdown-menu">
											@foreach (var subMenu in menu.menuItemModels ?? new List<MenuItemModel>())
											{
												target = (subMenu.Target != null && subMenu.Target == true) ? "_blank" : "_self";
												<li><a class="dropdown-item text-center text-lg-start fw-normal" href="@subMenu.Link" target="@target">@subMenu.Title</a></li>
											}
										</ul>
									</li>
								}
								else
								{
									target = (menu.Target != null && menu.Target == true) ? "_blank" : "_self";
									<li class="text-nowrap nav-item px-2 text-center my-1">
										<a class="nav-link" aria-current="page" href="@menu.Link" target="@target">@menu.Title</a>
									</li>
								}
							}
						}
					</ul>
				</div>
			</div>
		</nav>
		<div class="d-flex lh-lg">
			<button class="btn_sear_text text_blue_middle fw-bold d-none d-md-flex text-nowrap fs-4 me-3 bg-transparent border-0">我想搜尋</button>
			<div class="d-flex border border-2  border-end-0 flex-grow-1">
				<div class="dropdown">
					<a class="sear_target dropdown-toggle text-black text-nowrap fw-bold fs_change ms-1 ms-md-3 pe-1 pe-md-3 border-end border-2" href="/epza/ksp" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						找廠商
					</a>
					<ul class="dropdown-menu">
						<li><button class="btn_sear_firm dropdown-item text-nowrap">找廠商</button></li>
						<li><button class="btn_sear_all dropdown-item text-nowrap">找全部</button></li>
					</ul>
				</div>
				<input class="input_sear form-control border-0 fs_change px-1 px-md-3" type="search" placeholder="請輸入廠商名稱或技術..." aria-label="Search">
			</div>
			<button class="btn btn_sear rounded-0 text-nowrap fs_change d-flex align-items-center bg_blue_middle text-white" type="submit">
				<span class="material-symbols-outlined">search</span>搜尋
			</button>
		</div>
	</div>
</div>