@using EtheriT.Coker.Web.Public.Views.Shared.Components.Header
@using EtheriT.Coker.Web.Public.Views.Shared.Components.MenuItem
@model HeaderViewModel

<link rel="stylesheet" href="~/css/Header/Header_Layout_3.min.css" asp-append-version="true" />
<script src="~/js/Header/Header_Layout_3.min.js" asp-append-version="true"></script>

<div class="bg-white">
    <div class="d-flex flex-column p-3 px-md-0 container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid d-flex flex-wrap">
                <div class="d-flex align-items-center w-auto justify-content-between me-5 me-md-0">
                    @{
                        var home_target = Model.HomeTarget == true ? "_blank" : "_self";
                        var home_title = Model.HomeTarget == true ? "連結至：首頁(另開視窗)" : "連結至：首頁";
                    }
                    <a class="d-flex navbar-brand" href="@Model.HomeLink" target="@home_target" title="@home_title">
                        <img class="logo w-100" src="@Model.LogoImageUrl" alt="@Model.Title">
                        <h1 class="d-none">@Model.Title</h1>
                    </a>
                    <button class="btn_expand collapsed end-0 navbar-toggler position-absolute pt-1" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarContent" aria-controls="NavbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="material-symbols-outlined">expand_more</span>
                    </button>
                </div>
                <div class="collapse_menus collapse navbar-collapse" id="NavbarContent">
                    <a accesskey="U" href="javascript:void(0)" class="hide accesskey" title="上方區域">:::</a>
                    <ul class="navbar-nav mb-2 mb-lg-0 d-flex flex-wrap">
                        @foreach (var menu in Model.menuItemModels ?? new List<MenuItemModel>())
                        { 
                            var target = menu.Target == true ? "_blank" : "_self";
                            var title = menu.Target == true ? $"連結至：{menu.Title}(另開視窗)" : $"連結至：{menu.Title}";
                            @if (menu.menuItemModels != null)
                            {
                                <li class="nav-item dropdown px-2 my-1  text-center">
                                    <a href="#" title="展開選單：@menu.Title" class="d-flex dropdown-toggle nav-link nocontent px-0 text-nowrap justify-content-center" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="px-1 px-lg-0">@menu.Title</span><span class="d-lg-none material-symbols-outlined">expand_more</span>
                                    </a>
                                    <ul class="dropdown-menu py-0 py-lg-2">
                                        @foreach (var subMenu in menu.menuItemModels ?? new List<MenuItemModel>())
                                        {
                                            target = (subMenu.Target != null && subMenu.Target == true) ? "_blank" : "_self";
                                            <li><a class="dropdown-item text-lg-start fw-normal px-0 px-lg-3" href="@subMenu.Link" target="@target">@subMenu.Title</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="text-nowrap nav-item px-2 my-1 text-center">
                                    <a class="nav-link  px-0" aria-current="page" href="@menu.Link" target="@target" title="@title">@menu.Title</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <label accesskey="S" for="SearchInput" class="hide">:::</label>
        <div id="Search" class="d-flex lh-lg">
            <button class="btn_sear_text text_blue_middle fw-bold d-none d-md-flex text-nowrap fs-4 me-3 bg-transparent border-0">我想搜尋</button>
            <div class="d-flex border border-2  border-end-0 flex-grow-1">
                <div class="dropdown">
                    <a class="sear_target dropdown-toggle text-black text-nowrap fw-bold fs_change ms-1 ms-md-3 pe-1 pe-md-3 border-end border-2" href="/epza/ksp" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        找廠商
                    </a>
                    <ul class="dropdown-menu">
                        <li><button class="btn_sear_firm dropdown-item text-nowrap" data-id="1">找廠商</button></li>
                        <li><button class="btn_sear_all dropdown-item text-nowrap" data-id="0">找全部</button></li>
                    </ul>
                </div>
                <input id="SearchInput" class="input_sear form-control border-0 fs_change px-1 px-md-3" type="search" placeholder="請輸入廠商名稱或技術..." aria-label="Search">
            </div>
            <button class="btn btn_sear rounded-0 text-nowrap fs_change d-flex align-items-center bg_blue_middle text-white" type="submit">
                <span class="material-symbols-outlined">search</span>搜尋
            </button>
        </div>
    </div>
</div>