@using EtheriT.Coker.Application.Shared.Dto.Marquee
@using EtheriT.Coker.Application.Shared.Dto.enumType.Template
@using EtheriT.Coker.Web.Public.Views.Shared.Components.Header
@using EtheriT.Coker.Web.Public.Views.Shared.Components.MenuItem
@using EtheriT.Coker.Application.Shared.i18n;
@model HeaderViewModel

<link rel="stylesheet" href="~/css/Header/Header_Layout_8.min.css" asp-append-version="true" />
<script src="~/js/ProductAction.min.js" asp-append-version="true"></script>
<script src="~/js/Header/Header_Layout_1.min.js" asp-append-version="true"></script>
@{
    string imgurl = Model.UploadPath;
}
<nav class="navbar navbar-expand-lg flex-column p-0 shadow position-fixed vw-100">
    <!-- Mega Menu -->
    <div id="Mega_Menu" class="bg-white navbar navbar-expand-lg w-100">
        <!-- Logo -->
        <div class="d-none d-lg-flex logo justify-content-end">
            @{
                var home_target = Model.HomeTarget == true ? "_blank" : "_self";
                var home_title = Model.HomeTarget == true ? "連結至：首頁(另開視窗)" : "連結至：首頁";
                if (string.IsNullOrEmpty(Model.HomeLink)) Model.HomeLink = "/";
            }
            <a href="@Model.HomeLink" target="@home_target" rel="@(Model.HomeTarget == true ? $"noopener noreferrer" : "")" title="@home_title">
                @if (string.IsNullOrEmpty(Model.LogoImageUrl))
                {
                    <h1>@Model.Title</h1>
                }
                else
                {
                    <img src="@Model.LogoImageUrl" alt="@Model.Title" asp-append-version="true" />
                    <h1 class="sr-only">@Model.Title</h1>
                }
            </a>
        </div>
        @{
            List<MenuItemModel> MenuItems = Model.menuItemModels ?? new List<MenuItemModel>();
        }
        <!-- Menu Canvas -->
        <div id="Offcanvas_Mega_Menu" class="mega_menu_canvas offcanvas offcanvas-start visible" tabindex="-1" aria-labelledby="offcanvasExampleLabel">
            <!-- Menu Canvas Search Block -->
            <div class="offcanvas-header pt-3 ps-5">
                <h5 class="offcanvas-title mx-auto fs-5 fw-bold" id="offcanvasLabel">@Model.Title</h5>
            </div>

            <!-- Menu Canvas Menu -->
            <ul class="navbar-nav offcanvas-body m-0 mx-3" id="accordion-menu">
                <li class="">
                    <a accesskey="U" href="javascript:void(0)" class="hide accesskey" title="上方區域">:::</a>
                </li>
                @foreach (var menu in MenuItems)
                {
                    string headType = "metaMenu";
                    List<MenuItemModel> subItems = menu.menuItemModels ?? new List<MenuItemModel>();
                    string jc = menu.menuItemModels != null && menu.menuItemModels.Count() > 4 ? "" : "justify-content-center";
                    <li class="title nav-item p-2 @headType" data-rootId="@menu.Id">
                        @if (subItems.Count() > 0)
                        {
                            <a href="@menu.Link" id="collapse-header-@menu.Title" class="m-0 nav-link pb-0 text-nowrap text-black menu-item collapsed"
                               data-bs-toggle="collapse" data-bs-target="#collapse-@menu.Title" aria-expanded="true" aria-controls="collapse-@menu.Title">
                                @if (string.IsNullOrEmpty(menu.imageUrl))
                                {
                                    @menu.Title
                                }
                                else
                                {
                                    if (string.IsNullOrEmpty(menu.hoverImageUrl))
                                    {
                                        <img src="@menu.imageUrl" alt="@menu.Title" />
                                        <span class="justify-content-center">@menu.Title</span>
                                    }
                                    else
                                    {
                                        <img src="@menu.imageUrl" data-mouseover="@menu.hoverImageUrl" data-mouseout="@menu.imageUrl" alt="@menu.Title" />
                                        <span>@menu.Title</span>
                                    }
                                }
                                @if (!string.IsNullOrEmpty(menu.SubTitle))
                                {
                                    <span class="subtitle">@menu.SubTitle</span>
                                }
                            </a>
                            <div class="content collapse_menus translate-middle-x collapse" id="collapse-@menu.Title" aria-labelledby="collapse-header-@menu.Title" data-bs-parent="#accordion-menu">
                                <div class="container">
                                    <ul class="@jc">
                                        @foreach (var secItem in subItems)
                                        {
                                            var iconclass = secItem.Icon == "" ? "d-none" : "";
                                            var imageiconclass = secItem.ImageIcon == "" ? "d-none" : "";
                                            var target = secItem.Target == true ? "_blank" : "_self";
                                            var title = secItem.Target == true ? $"連結至：{secItem.Title}(另開視窗)" : $"連結至：{secItem.Title}";
                                            string titleClass = (secItem.menuItemModels == null || secItem.menuItemModels.Count() == 0 || menu.Link.ToLower().Contains("product")) ? "" : "hasChild";
                                            if (string.IsNullOrEmpty(secItem.Link))
                                            {
                                                secItem.Link = "#";
                                                title = $"展開選單：{secItem.Title}";
                                            }
                                            <li class="subtitle nav-item my-0 @titleClass">
                                                <a id="collapse-header-@secItem.Title" class="subtitle_title justify-content-between nav-link text-black py-0 text-nowrap text-start d-flex align-items-center collapsed" href="@secItem.Link" title="@title" target="@target" rel="@(secItem.Target == true ? $"noopener noreferrer" : "")"
                                                   data-bs-toggle="" data-bs-target="#collapse-@secItem.Title" aria-expanded="true">
                                                    <div>
                                                        <i class="@secItem.IconClass me-2 @iconclass">@secItem.Icon</i>
                                                        <img class="@imageiconclass me-2" src="@secItem.ImageIcon" alt="@secItem.Title" />
                                                        @secItem.Title
                                                    </div>
                                                    <span class="material-symbols-outlined d-lg-none">
                                                        double_arrow
                                                    </span>
                                                </a>
                                                @if (secItem.menuItemModels != null && secItem.menuItemModels.Count() > 0)
                                                {
                                                    <ul id="collapse-@secItem.Title" aria-labelledby="collapse-header-@secItem.Title" data-bs-parent="#collapse-@menu.Title"
                                                        class="row collapse px-3 mx-1@($" hasRow{secItem.menuItemModels.Count() / 3 + 1}")@($"{(menu.Link.ToLower().Contains("product") ? " d-lg-none" : "")}")">
                                                        @foreach (var thirdItem in secItem.menuItemModels ?? new List<MenuItemModel>())
                                                        {
                                                            iconclass = thirdItem.Icon == "" ? "d-none" : "";
                                                            imageiconclass = thirdItem.ImageIcon == "" ? "d-none" : "";
                                                            <li class="px-0">
                                                                @if (secItem.Link != "")
                                                                {
                                                                    target = thirdItem.Target == true ? "_blank" : "_self";
                                                                    title = thirdItem.Target == true ? $"連結至：{thirdItem.Title}(另開視窗)" : $"連結至：{thirdItem.Title}";
                                                                    <a class="subtitle_title ps-2 nav-link text-black py-0 text-nowrap text-start fw-normal d-flex align-items-center" href="@thirdItem.Link" title="@title" target="@target" rel="@(thirdItem.Target == true ? $"noopener noreferrer" : "")">
                                                                        <i class="@thirdItem.IconClass me-2 @iconclass">@thirdItem.Icon</i>
                                                                        <img class="@imageiconclass me-2" src="@thirdItem.ImageIcon" alt="@thirdItem.Title" />
                                                                        @thirdItem.Title
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <div class="subtitle_title ps-2 nav-link text-black py-0 text-nowrap text-start fw-normal d-flex align-items-center">
                                                                        <i class="@thirdItem.IconClass me-2 @iconclass">@thirdItem.Icon</i>
                                                                        <img class="@imageiconclass me-2" src="@thirdItem.ImageIcon" alt="@thirdItem.Title" />
                                                                        @thirdItem.Title
                                                                    </div>
                                                                }
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            <a class="mt-0 nav-link pb-0 text-nowrap text-black menu-item" href="@menu.Link" target="@(menu.Target == true ? "_blank" : "_self")" rel="@(menu.Target == true ? $"noopener noreferrer" : "")" title="@(menu.Target == true ? $"連結至：{menu.Title}(另開視窗)" : $"連結至：{menu.Title}")">
                                @if (string.IsNullOrEmpty(menu.imageUrl))
                                {
                                    @menu.Title
                                }
                                else
                                {
                                    if (string.IsNullOrEmpty(menu.hoverImageUrl))
                                    {
                                        <img src="@menu.imageUrl" alt="@menu.Title" />
                                        <span class="justify-content-center">@menu.Title</span>
                                    }
                                    else
                                    {
                                        <img src="@menu.imageUrl" data-mouseover="@menu.hoverImageUrl" data-mouseout="@menu.imageUrl" alt="@menu.Title" />
                                        <span>@menu.Title</span>
                                    }
                                }
                                @if (!string.IsNullOrEmpty(menu.SubTitle))
                                {
                                    <span class="subtitle">@menu.SubTitle</span>
                                }
                            </a>
                        }
                    </li>
                }

            </ul>
        </div>

        <div class="btn_menu navbar-toggler collapsed px-0 col-1 mt-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#Offcanvas_Mega_Menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <!-- Logo -->
        <div class="logo d-lg-none col-7 text-center py-lg-0 py-1">
            @{
                var logo_target = Model.HomeTarget == true ? "_blank" : "_self";
                var logo_title = Model.HomeTarget == true ? "連結至：首頁(另開視窗)" : "連結至：首頁";
            }
            <a href="@Model.HomeLink" target="@logo_target" rel="@(Model.HomeTarget == true ? $"noopener noreferrer" : "")" title="@logo_title">
                @if (string.IsNullOrEmpty(Model.Title))
                {
                    <h1>@Model.Title</h1>
                }
                else
                {
                    <img class="" src="@Model.LogoImageUrl" alt="@Model.Title" asp-append-version="true" />
                    <h1 class="d-none">@Model.Title</h1>
                }
            </a>
        </div>

        <!-- Tool Bar -->
        <div class="d-flex justify-content-center icon-block">
            <!-- Search Block -->
            <a href="@Model.SearchPath" title="前往搜尋頁" class="d-flex bg-transparent border-0 align-items-center bg-transparent border-0 p-0 p-lg-1">
                <span class="material-symbols-outlined bg-secondary bg-grey text-muted rounded-circle p-1 fs-5 notranslate">search</span>
                <span class="text-nowrap ms-2 d-none d-lg-flex">搜尋</span>
            </a>
            @foreach (var menu in Model.langMenuItemModels)
            {
                var target = menu.Target ?? false ? "_blank" : "_self";
                var targetStr = menu.Target ?? false ? string.Format(L.get("LinkToAndBlank"), menu.Title) : string.Format(L.get("LinkTo"), menu.Title);
                <a href="@menu.Link" class="mx-2" title="@targetStr" target="@target" rel="@(menu.Target == true ? $"noopener noreferrer" : "")">
                    @if (string.IsNullOrEmpty(menu.imageUrl))
                    {
                        @menu.Title
                    }
                    else
                    {
                        if (string.IsNullOrEmpty(menu.hoverImageUrl))
                        {
                            <img src="@menu.imageUrl" alt="@menu.Title" />
                            <span class="d-none">@menu.Title</span>
                        }
                        else
                        {
                            <img src="@menu.imageUrl" data-mouseover="@menu.hoverImageUrl" data-mouseout="@menu.imageUrl" alt="@menu.Title" />
                            <span class="d-none">@menu.Title</span>
                        }
                    }
                </a>
            }
            <div id="google_translate_element"></div>
            @if (ViewBag.ShoppingEnable && ViewBag.HasShoppingCar && ViewBag.storeBuyState.IndexOf("noPay") < 0)
            {
                <div id="Cart_Dropdown_Parent" class="d-flex px-1">
                    <button id="btn_car_dropdown" class="bg-transparent border-0 position-relative" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-flex fs-4 fw-light material-symbols-outlined">shopping_cart</span>
                        <span id="Car_Badge" class="badge position-absolute rounded-pill"></span>
                    </button>

                    <div id="Car_Dropdown" class="dropdown-menu dropdown-menu-end px-2 border-0 shadow-lg overflow-auto me-5" aria-labelledby="btn_car_dropdown">
                        <ul class="m-0 ps-0">
                            <template id="Template_Car_Dropdown">
                                <li class="border-bottom me-4" data-scid="">
                                    <figure class="position-relative mb-0">
                                        <a data-key="link" class="pro_link d-flex" href="" title="" target="_blank" rel="noopener noreferrer">
                                            <img data-key="imagePath" class="pro_image me-2" src="" alt="" />
                                            <figcaption class="overflow-hidden">
                                                <div data-key="title" class="pro_name h-auto"></div>
                                                <div data-key="spec" class="pro_spec h-auto my-1"></div>
                                                <div class="number d-flex">
                                                    <div data-key="price" data-type="price" class="pro_unit price fw-bold"></div>
                                                    <div data-key="quantity" data-type="quantity" class="pro_quantity fw-bold"></div>
                                                </div>
                                            </figcaption>
                                        </a>
                                        <button class="btn_cart_delete bg-transparent border-0 position-absolute">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </figure>
                                </li>
                            </template>
                        </ul>

                        <div id="Car_Dropdown_Null" class="drpy-3 text-center">購物車尚無商品</div>
                        <a href="/@ViewData["OrgName"]/ShoppingCar" title="連結至購物車" class="btn_car_buy d-flex justify-content-center border-0 rounded-1 w-100 py-1 mt-2 text-white">結帳</a>
                    </div>
                </div>
            }
            @if (ViewBag.LoginEnable)
            {
                @if (ViewBag.isLogin)
                {
                    <a id="HiUser" class="d-flex px-1 align-items-center" href="/@ViewData["OrgName"]/Member" title="前往會員中心">
                        <span class="material-symbols-outlined">
                            person
                        </span>
                        <span class="name">已登入</span>
                    </a>
                }
                else
                {
                    <button type="button" class="btn bg-transparent text-black border-0 d-flex" data-bs-toggle="modal" data-bs-target="#LoginModal">
                        <span class="material-symbols-outlined">person</span>
                    </button>
                }
            }
        </div>
    </div>
</nav>
@if (Model.Bannners != null && Model.Bannners.Count > 0)
{
    string fullClass = Model.Bannners.Count == 1 ? "image-wh" : "one_swiper edit_lock";
    if (Model.templates != null && Model.templates.HeadType == HeadTypeEnum.logo與Banner重疊)
        fullClass += " full-banner";
    @if (Model.Bannners.Count == 1)
    {
        <div class="@fullClass">
            @foreach (var item in Model.Bannners)
            {
                @if (!string.IsNullOrEmpty(item.MobileImage))
                {
                    <img id="header-title" class="titleimage m-auto  d-none d-md-block" src="@item.DesktopImage" alt="Header Titile" asp-append-version="true" />
                    <img id="header-title-phone" class="titleimage m-auto d-block d-md-none" src="@item.MobileImage" alt="Header Titile" asp-append-version="true" />
                }
                else
                {
                    <!-- Mobile image不存在時，Desktop image永遠顯示 -->
                    <img id="header-title" class="titleimage m-auto" src="@item.DesktopImage" alt="Header Titile" asp-append-version="true" />
                }

                @if (!string.IsNullOrEmpty(item.Title))
                {
                    <div class="title">
                        <div class="mainTitle">@item.Title</div>
                        <div class="subTitle">@item.Subtitle</div>
                    </div>
                }
            }
        </div>
    }
    else
    {
        <div id="banner" class="vh-75">
            <div class="@fullClass">
                <div class="swiper d-flex swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                    <div class="swiper-wrapper align-self-center">
                        @foreach (var imageSrc in Model.Bannners)
                        {
                            <div class="swiper-slide image_link_slide d-flex align-self-center">
                                <a href="@imageSrc.Link" class="w-100">
                                    @if (!string.IsNullOrEmpty(imageSrc.MobileImage))
                                    {
                                        <img src="@imageSrc.DesktopImage" class="w-100 d-none d-md-block" alt="Desktop Image" asp-append-version="true" />
                                        <img src="@imageSrc.MobileImage" class="w-100 d-block d-md-none" id="header-title-phone" alt="Mobile Image" asp-append-version="true" />
                                    }
                                    else
                                    {
                                        <img src="@imageSrc.DesktopImage" class="w-100" alt="Desktop Image" asp-append-version="true" />
                                    }
                                    @if (!string.IsNullOrEmpty(imageSrc.Title))
                                    {
                                        <div class="title">
                                            <div class="mainTitle">@imageSrc.Title</div>
                                            <div class="subTitle">@imageSrc.Subtitle</div>
                                        </div>
                                    }
                                </a>
                            </div>
                        }
                    </div>
                    <div tabindex="-1" role="button" aria-label="Previous slide" aria-controls="iw0z" aria-disabled="true" class="swiper_button_prev start-0 position-absolute top-50 translate-middle-y swiper-button-disabled">
                        <button class="align-items-center bg-dark bg-opacity-25 border-0 d-flex justify-content-center rounded-circle swiper_btn_circle_small text-opacity-75 text-white"><span class="material-symbols-outlined">navigate_before</span></button>
                    </div>
                    <div tabindex="0" role="button" aria-label="Next slide" aria-controls="iw0z" aria-disabled="false" class="swiper_button_next end-0 position-absolute top-50 translate-middle-y">
                        <button class="align-items-center bg-dark bg-opacity-25 border-0 d-flex justify-content-center rounded-circle swiper_btn_circle_small text-opacity-75 text-white"><span id="izqng-2-2-2" draggable="true" class="material-symbols-outlined">navigate_next</span></button>
                    </div>
                </div>
            </div>
        </div>
    }
}
@if (Model.ShowMarquee && Model.marqueeModels != null && Model.marqueeModels.Count > 0)
{
    <div id="swiper-light" class="headernews m-auto d-block position-relative">
        @if (!string.IsNullOrEmpty(Model.marqueeBagroundImage))
        {
            <img class="d-md-flex d-none m-auto d-block" src="@Model.marqueeBagroundImage" alt="Header Marquee Background" asp-append-version="true" />
        }
        @if (!string.IsNullOrEmpty(Model.marqueeIcon))
        {
            <img class="d-md-none m-auto d-block" src="@Model.marqueeIcon" alt="Header Marquee Background" asp-append-version="true" />
        }
        <div class="content position-absolute row align-items-center w-100">
            <div class="text overflow-hidden text-white p-0 col">
                <div class="swiper marqueeSwiper swiper-initialized swiper-vertical swiper-pointer-events swiper-backface-hidden">
                    <div class="swiper-wrapper">
                        @foreach (var marquee in Model.marqueeModels ?? new List<MarqueeDisplayDto>())
                        {
                            var target = marquee.target == true ? "_blank" : "_self";
                            var title = marquee.target == true ? $"連結至：{marquee.title}(另開視窗)" : $"連結至：{marquee.title}";
                            var link = marquee.link;
                            if (string.IsNullOrEmpty(link))
                            {
                                <div class="swiper-slide"><div class="overflow-hidden text" data-bs-toggle="tooltip" title="@marquee.title">@marquee.title <span class="sr-only">(current)</span></div></div>
                            }
                            else
                            {
                                <div class="swiper-slide"><a class="overflow-hidden text" data-bs-toggle="tooltip" title="@title" href="@link" target="@target" rel="@(marquee.target == true ? $"noopener noreferrer" : "")">@marquee.title <span class="sr-only">(current)</span></a></div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}