@using EtheriT.Coker.Web.Public.Views.Shared.Components.Header
@using EtheriT.Coker.Web.Public.Views.Shared.Components.MenuItem
@model HeaderViewModel

<link rel="stylesheet" href="~/css/Header/Header_Layout_4.min.css" asp-append-version="true" />
<script src="~/js/Header/Header_Layout_4.min.js" asp-append-version="true"></script>

<div class="header bg_cyan_blue">
    <div class="d-flex flex-column p-3 container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid nowrap d-flex flex-column flex-lg-row">
                <div class="d-flex align-items-center w-100 justify-content-between">
                    @{
                        var home_target = Model.HomeTarget == true ? "_blank" : "_self";
                        var homte_title = Model.HomeTarget == true ? "連結至：首頁(另開視窗)" : "連結至：首頁";
                        }
                    <a class="d-flex navbar-brand me-0 me-sm-3" href="@Model.HomeLink" target="@home_target" rel="@(Model.HomeTarget == true ? $"noopener noreferrer" : "")" title="@homte_title">
                        <img class="logo" src="@Model.LogoImageUrl" alt=" " asp-append-version="true">
                        <h1 class="sr-only">@Model.Title</h1>
                    </a>
                    <button class="btn_expand navbar-toggler pt-1 h-100" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarContent" aria-controls="NavbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="material-symbols-outlined">expand_more</span>
                    </button>
                </div>
                <label accesskey="S" for="SearchInput" class="hide">:::</label>
                <div id="lanBar" class="d-flex align-items-center align-items-center d-flex flex-column flex-md-row">
                    @if (Model.Sitemap_Link != null)
                    {
                        var sitemap_target = Model.Sitemap_Target == true ? "_blank" : "_self";
                        var sitemap_title = Model.Sitemap_Target == true ? "連結至：網站導覽(另開視窗)" : "連結至：網站導覽";
                        <a class="text-nowrap text-white px-3 mt-3 mb-2 mb-lg-auto mt-lg-auto font_small" aria-current="page" href="@Model.Sitemap_Link" title="@sitemap_title" target="@sitemap_target" rel="@(Model.Sitemap_Target == true ? $"noopener noreferrer" : "")">網站導覽</a>
                    }
                    <div id="Search" class="align-items-center bg-white d-flex rounded">
                        <input id="SearchInput" class="input_sear form-control rounded-0 rounded-start" type="search" placeholder="站內搜尋" aria-label="Search">
                        <div class="dropdown">
                            <a class="dropdown-toggle px-2 text-nowrap text-black" href="/epza/eplus" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                搜尋
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li><button class="btn_sear_all dropdown-item text-nowrap" data-id="0">全部</button></li>
                                <li><button class="btn_sear_news dropdown-item text-nowrap" data-id="2">最新消息</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="NavbarContent">
                <ul class="img_ul">
                    <li class="float-start">
                        <a accesskey="U" href="javascript:void(0)" class="hide accesskey" title="上方區域">:::</a>
                    </li>
                    @foreach (var menu in Model.menuItemModels ?? new List<MenuItemModel>())
                    {
                        var target = menu.Target == true ? "_blank" : "_self";
                        var title = menu.Target == true ? $"連結至：{menu.Title}(另開視窗)" : $"連結至：{menu.Title}";
                        <li class="float-start">
                            <a class="nav-link p-0 text-black" aria-current="page" href="@menu.Link" title="@title" target="@target" rel="@(menu.Target == true ? $"noopener noreferrer" : "")">
                                @if (@menu.imageUrl == "")
                                {
                                    <h2 class="w-25 custom_h5 text-white mx-auto">@menu.Title</h2>
                                }
                                else
                                {
                                    <img class="logo" src="@menu.imageUrl" alt=" ">
                                    <h2 class="title">@menu.Title</h2>
                                }
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="container p-0">
    @{
        var picture_home_target = Model.HomeTarget == true ? "_blank" : "_self";
        var picture_homte_title = Model.HomeTarget == true ? "連結至：首頁(另開視窗)" : "連結至：首頁";
    }
    <a class="" href="@Model.HomeLink" target="@picture_home_target" rel="@(Model.HomeTarget == true ? $"noopener noreferrer" : "")" title="@picture_homte_title">
        <img class="w-100" src="~/upload/eplus/banner.jpg" alt="@Model.Title">
    </a>
</div>
