@using EtheriT.Coker.Web.Public.Models;
@using EtheriT.Coker.Application.Shared.i18n;
@model PageViewModel
<link rel="stylesheet" href="~/css/Page/Index.min.css" asp-append-version="true" />
<script nonce="@ViewBag.Nonce">
    const PageKey = "";
</script>
<style nonce="@ViewBag.Nonce">
    #errorContainer {
        padding: 10rem 0;
        text-align: center;
    }

    #errorContainer a {
        color: #0d6efd;
    }
</style>
<div id="errorContainer" class="container">
    <div class="row">
        <div class="col">
            <h1>@L.get("PageNotFound")</h1>
            <p>
                @L.get("PageNotFoundDescription")
                <a href="/" title="{@L.get("LinkTo", L.get("HomePage"))}">@L.get("returnHomePage")</a>
            </p>
        </div>
    </div>
</div>