@using System.Web;
@using EtheriT.Coker.Application.Shared.Dto.WebMenu
@using EtheriT.Coker.Application.Shared.Dto.enumType
@using EtheriT.Coker.Web.Public.Models
@using EtheriT.Coker.Web.Public.Views.Shared.Components.Modal
@using EtheriT.Coker.Application.Shared.i18n;
@model PageViewModel
<script nonce="@ViewBag.Nonce">
    const PageKey = "Search";
    const local = @Html.Raw(L.getAllJsonString()) ;
</script>
<link rel="stylesheet" href="~/Shared/shared.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Search/Search.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Page/Index.min.css" asp-append-version="true" />
<script src="~/Shared/shared.min.js" asp-append-version="true"></script>
<script src="~/js/Search/Search.min.js" asp-append-version="true"></script>
@switch (Model.PageData.LayoutType)
{
    case 2:
    case 3:
        <div class="top_title_3 p-3">
            <div class="title fs-1 fw-bold text-white container">@Model.PageData.Title</div>
        </div>
        break;
    case 4:
        <div class="top_title p-3 bg-white container">
            <div class="title fs-1 fw-bold text-black container">@Model.PageData.Title</div>
        </div>
        break;
}

<div class="search-category container">
    <div class="container d-flex justify-content-center mt-5">
        @{
            foreach (var e in Model.SearchPalameter.Class)
            {
                <button class="mx-1@( Model.SearchPalameter.SearchId == e.Id ? " active": "")" data-id="@e.Id">@e.Name</button>
            }
            string placeholder = string.Empty;
            switch (Model.SearchPalameter.SearchId)
            {
                case 3:
                    placeholder = L.get("SearchProdPlaceholder");
                    break;
                default:
                    placeholder = L.get("SearchAllPlaceholder");
                    break;
            }
        }
    </div>
    <div class="d-flex justify-content-center align-items-center my-2 search-input-block container">
        <div class="input-container w-100 d-flex justify-content-center align-items-center">
            <input type="text" value="@HttpUtility.HtmlEncode(Model.SearchPalameter.SearchText)" placeholder="@placeholder" class="search-input p-2" />
            <a class="searchbtn" title="搜尋" href="#">
                <i class="fas fa-search"></i>.
            </a>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-4 d-none">
        <div class="search-frame d-flex">
            <div class="theme d-flex justify-content-center align-items-center">
                廠商園區
            </div>
            <div class="vice-theme d-flex justify-content-strat align-items-center">
                <div class="option">
                    <lable class="d-flex justify-content-center align-items-center">
                        <input type="checkbox" value="" />
                        全部
                    </lable>
                </div>
                <div class="option">
                    <lable class="d-flex justify-content-center align-items-center">
                        <input type="checkbox" value="" />
                        智慧應用(30)
                    </lable>
                </div>
                <div class="option">
                    <lable class="d-flex justify-content-center align-items-center">
                        <input type="checkbox" value="" />
                        智慧應用(30)
                    </lable>
                </div>
                <div class="option">
                    <lable class="d-flex justify-content-center align-items-center">
                        <input type="checkbox" value="" />
                        智慧應用(30)
                    </lable>
                </div>
                <div class="option">
                    <lable class="d-flex justify-content-center align-items-center">
                        <input type="checkbox" value="" />
                        智慧應用(30)
                    </lable>
                </div>
                <div class="option">
                    <lable class="d-flex justify-content-center align-items-center">
                        <input type="checkbox" value="" />其他(10)
                    </lable>
                </div>
            </div>
        </div>
    </div>
    <div id="Search_Title" data-key="" class="container d-flex justify-content-center my-4">
        <p>
            @Html.Raw(string.Format(L.get("FindDescription"),$@"<span class=""px-1 searchText"">{@Model.SearchPalameter.SearchText}</span>", $@"<span class=""px-1 searchCount"">0</span>"))
        </p>
    </div>
    <div class="row">
        <div id="filterBlock" class="col-3 p-2 d-none">
            <div class="d-flex d-md-none justify-content-end p-3 opacity-50">
                <i class="fas fa-close"></i>
            </div>
            <div class="filterDirType dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    請選擇分類
                </a>
                <ul class="dropdown-menu"></ul>
                <template id="filterDirTypeTemp">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                </template>
            </div>
            <h3 class="title">進階篩選</h3>
            <ul id="filterList"></ul>
        </div>
        <div class="col">
            <div class="catalog_frame type_change_frame" data-type="search" data-ShowNum="24" data-dirid="@Model.SearchPalameter.SearchId" data-search-text="@Model.SearchPalameter.SearchText">
                <div class="d-flex justify-content-end switch_control text-black-50">
                    <div class="justify-content-center align-items-center d-none">
                        <p>
                            發布日期
                        </p>
                        <input type="date" name="startDate" class="text-black-50" />
                        <p class="px-2 fs-3"> ~ </p>
                        <input type="date" name="endDate" class="text-black-50" />
                    </div>
                    @if (Model.SearchPalameter.SearchId == 3)
                    {
                        <button class="btn_filter_grid bg-transparent border-0 align-items-center mx-1 d-flex d-md-none">
                            <i class="fas fa-search fs-5 me-1"></i>過濾
                        </button>
                    }
                    <button class="btn_prod_grid d-flex bg-transparent border-0 align-items-center mx-1">
                        <span class="material-symbols-outlined fs-5 me-1">grid_on</span>@L.get("GridImage")
                    </button>
                    <button class="btn_prod_list d-flex bg-transparent border-0 align-items-center mx-1 text-black-50">
                        <span class="material-symbols-outlined fs-5 me-1">view_list</span>@L.get("GridImageAndText")
                    </button>
                    <button class="btn_text d-flex bg-transparent border-0 align-items-center mx-1 text-black-50">
                        <span class="material-symbols-outlined fs-5 me-1">list</span>@L.get("GridText")
                    </button>
                </div>
                <div class="catalog content gx-0 rounded-lg type4 row row-cols-lg-4 row-cols-md-2 bg-light px-2">
                    <template class="templatecontent">
                        <div class="template p-2 py-2">
                            <div class="col bg-white p-2 position-sticky p-1 type4 rounded-lg h-100">
                                <a href="" title="" target="_self" class="text-black">
                                    <figure class="d-flex justify-content-center mb-0 h-100 max-h flex-column">
                                        <div class="image_frame d-flex flex-grow-1 justify-content-center align-items-center type4-image-frame w-100">
                                            <img src="/upload/Product/Photo/C656NA.jpg" alt="" class="image gjs-plh-image img-fluid" />
                                        </div>
                                        <figcaption class="w-100 position-relative pb1 type4-caption d-flex flex-column justify-content-center">
                                            <div class="item-header d-flex">
                                                <div class="itemNo m-0 p-0 align-itmes-center type4-title d-inline fw-bold">
                                                    {{產品編號}}
                                                </div>
                                            </div>
                                            <div class="item-title">
                                                <div class="catalog-number itemNo m-0 p-2 align-itmes-center type4-title d-inline">
                                                    {{產品編號}}
                                                </div>
                                                <div class="title m-0 fs-5 align-itmes-center type4-title d-inline fs-6">
                                                </div>
                                                <div class="like-and-share top_line d-none">
                                                    <div class="btn_favorites bg-transparent border-0 d-none">
                                                        <i class="fs-5 fa-regular fa-heart">
                                                        </i><span class="d-none">關注</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="description mt-1 overflow-hidden p-2 d-none type2-content">
                                            </p>
                                            <div class="more-btn position-absolute d-flex justify-content-center align-items-center d-none">
                                                <div class="fas fa-angle-right">
                                                </div>
                                            </div>
                                            <div class="date d-flex justify-content-end align-items-center p-2 d-none">
                                            </div>
                                            <div class="more text-end mt-1 d-none">
                                                詳細介紹
                                            </div>
                                            <div class="price price-grid mt-auto type2-title d-inline fw-bold fs-7">{{price}}</div>
                                            <div class="bottom-row d-flex align-text-bottom">
                                                <div class="tags"></div>
                                                <div class="purchase d-none">
                                                    <div class="price price-discount me-auto p-2 align-itmes-center type2-title d-none">
                                                        {{min price}}
                                                    </div>
                                                    <div class="price normal-price me-auto p-2 align-itmes-center type2-title d-inline fw-bold">
                                                        {{max price}}
                                                    </div>
                                                    <span class="cart badge rounded-pill bg-secondary text-white me-auto p-2 px-4 align-itmes-center type2-title d-none fw-normal">
                                                        <i class="fa-solid fa-cart-shopping fa-inverse"></i>
                                                        放入購物車
                                                    </span>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                                <div class="shareBlock">
                                    <button class="btn_share bg-transparent border-0">
                                        <i class="fs-5 fa-solid fa-share">
                                        </i><span class="d-none">分享</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </template>
                    <div class="templatecontent-tag d-none">
                        <span class="badge rounded-pill bg-light text-secondary fw-normal me-1 px-2">{{Tag Name}}</span>
                    </div>
                </div>
                <nav draggable="true" aria-label="Page">
                    <ul draggable="true" class="page_btn d-flex justify-content-center my-5 pagination">
                        <li draggable="true" class="page-item btn_prev">
                            <button draggable="true" class="page-link text-black">
                                <i class="fa-solid fa-angle-left"></i>
                            </button>
                        </li>
                        <li draggable="true" class="page-item btn_next">
                            <button draggable="true" class="page-link text-black">
                                <i class="fa-solid fa-angle-right"></i>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <template id="filterTemp">
            <li>
                <div class="filterType">
                    <input type="checkbox" class="form-check-input" />
                    <label>
                        <i class="material-symbols-outlined">check_box</i>
                        <i class="material-symbols-outlined">check_box_outline_blank</i>
                        <span class="typeName"></span>
                    </label>
                </div>
                <ul>
                    <li>
                        <input type="checkbox" class="form-check-input" />
                        <label>
                            <i class="material-symbols-outlined">check_box</i>
                            <i class="material-symbols-outlined">check_box_outline_blank</i>
                            <span class="tagName"></span>(<span class="count"></span>)
                        </label>
                    </li>
                </ul>
            </li>
        </template>
    </div>
</div>