@using System.Web;
@using EtheriT.Coker.Application.Shared.Dto.WebMenu
@using EtheriT.Coker.Web.Public.Models;
@model PageViewModel
@{
    ViewData["SideName"] = Model.PageData.SiteName;
    ViewData["PageName"] = Model.PageData.Title;
    ViewData["Description"] = Model.PageData.Description;
    ViewData["CurrentUrl"] = Model.PageData.CurrentUrl;
}
<link rel="stylesheet" href="~/Shared/shared.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Page/Index.min.css" asp-append-version="true" />
<script src="~/Shared/shared.min.js" asp-append-version="true"></script>


@switch (Model.PageData.LayoutType)
{
    case 1:
        {
            <div class="top_title_1 p-3">
                <nav class="bread d-none d-md-block container">
                    <ol class="list-unstyled d-flex my-0">
                        @foreach (var menu in Model.MenuBread ?? new List<GetMenuBreadDto>())
                        {
                            @if (@menu.Link == "")
                            {
                                <li class="px-1">@menu.Title</li>
                            }
                            else
                            {
                                <li class="px-1"><a class="text-decoration-none" href="@menu.Link">@menu.Title</a></li>
                            }
                        }
                    </ol>
                </nav>
            </div>
        }
        break;
    case 3:
        @if (Model.MenuBread.Count() > 0)
        {
            <div class="top_title_3 p-3">
                <nav class="bread d-none d-md-block container">
                    <ol class="list-unstyled d-flex">
                        @foreach (var menu in Model.MenuBread ?? new List<GetMenuBreadDto>())
                        {
                            @if (@menu.Link == "")
                            {
                                <li class="px-1">@menu.Title</li>
                            }
                            else
                            {
                                <li class="px-1"><a class="text-decoration-none" href="@menu.Link" title="連結至:@menu.Title">@menu.Title</a></li>
                            }
                        }
                    </ol>
                </nav>
                <div class="title fs-1 fw-bold text-white container">@Model.MenuBread.Last().Title</div>
            </div>
            @if (Model.PageData != null && Model.PageData.holdPage == EtheriT.Coker.Application.Shared.Dto.enumType.HoldPageNameEnum.Article)
            {
                <div class="container">
                    <h2 class="p-2">@Model.PageData.Title</h2>
                </div>
            }
        }
        break;
    case 4:
        @if (Model.PageData.CurrentUrl != "/home")
        {
            <link rel="stylesheet" href="~/css/Site/Page/Index_LayoutType4.min.css" asp-append-version="true" />
        }
        @if (Model.MenuBread.Count() > 0)
        {
            <div class="top_title p-3 bg-white container">
                <nav class="bread d-none d-md-block container">
                    <ol class="list-unstyled d-flex">
                        @foreach (var menu in Model.MenuBread ?? new List<GetMenuBreadDto>())
                        {
                            @if (@menu.Link == "")
                            {
                                <li class="px-1">@menu.Title</li>
                            }
                            else
                            {
                                <li class="px-1"><a class="text-decoration-none" href="@menu.Link" title="連結至:@menu.Title">@menu.Title</a></li>
                            }
                        }
                    </ol>
                </nav>
                <div class="title fs-1 fw-bold text-black container">@Model.PageData.Title</div>
            </div>
        }
        break;
}

@if (Model.PageData.CurrentUrl == "/home")
{
    <!-- EnterAdModal -->
    @if (Model.enterAd.Count > 0)
    {
        <div id="EnterAdModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-enteradid="@Model.enterAd[0].Id">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="bg-white btn-close end-0 me-3 p-2 position-absolute rounded-circle" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="d-flex justify-content-center">

                            @if (Model.enterAd[0].Link != "")
                            {
                                var target = Model.enterAd[0].Target == true ? "_blank" : "_self";
                                var title = Model.enterAd[0].Target == true ? $"連結至：{Model.enterAd[0].Title}(另開視窗)" : $"連結至：{Model.enterAd[0].Title}";
                                <a href="@Model.enterAd[0].Link" target="@target" title="@title">
                                    <ul>
                                        @foreach (var img in Model.enterAd[0].Img)
                                        {
                                            <li><img class="img-fluid d-block mx-auto" src="@img" alt="@Model.enterAd[0].Title" /></li>
                                        }
                                    </ul>
                                </a>
                            }
                            else
                            {
                                <ul>
                                    @foreach (var img in Model.enterAd[0].Img)
                                    {
                                        <li><img class="img-fluid d-block mx-auto" src="@img" alt="@Model.enterAd[0].Title" /></li>
                                    }
                                </ul>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<Content class="d-none">@HttpUtility.HtmlEncode(Model.PageData.Html)</Content>
@{
    if (Model.PageData.LastModificationTime != null) {
        <div class="container editTime font_small text-end">最後編輯時間：@Model.PageData.LastModificationTime.Value.ToString("yyyy/MM/dd HH:mm:ss")</div>
    }
    if (Model.PageData.Popular != null && Model.PageData.Popular>0)
    {
        <div class="container popular font_small text-end py-2">人氣值：@Model.PageData.Popular.Value</div>
    }
}
<div id="PostCSS" class="d-none">@HttpUtility.HtmlEncode(Model.PageData.Css)</div>