@using System.Web;
@using EtheriT.Coker.Application.Shared.Dto.WebMenu
@using EtheriT.Coker.Web.Public.Models;
@model PageViewModel
@{
	ViewData["SideName"] = Model.PageData.SiteName;
	ViewData["PageName"] = Model.PageData.Title;
	ViewData["Description"] = Model.PageData.Description;
	ViewData["CurrentUrl"] = Model.PageData.CurrentUrl;
}
<link rel="stylesheet" href="~/Shared/css/Frame.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Shared/css/Swiper.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Shared/css/HoverEffect.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Shared/css/Directory.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Page/Index.min.css" asp-append-version="true" />
<script src="~/Shared/js/Frame.min.js" asp-append-version="true"></script>
<script src="~/Shared/js/Swiper.min.js" asp-append-version="true"></script>
<script src="~/Shared/js/ViewTypeChange.min.js" asp-append-version="true"></script>
<script src="~/Shared/js/Sitemap.min.js" asp-append-version="true"></script>
<script src="~/Shared/js/HoverEffect.min.js" asp-append-version="true"></script>
<script src="~/Shared/js/DirectoryGetData.min.js" asp-append-version="true"></script>
<script src="~/Shared/js/LinkWithIcon.min.js" asp-append-version="true"></script>

@if (Model.PageData.LayoutType == 3)
{
	@if (Model.MenuBread.Count() > 0)
	{
		<div class="top_title_2 p-3">
			<nav class="bread d-none d-md-block container">
				<ol class="list-unstyled d-flex">
					@foreach (var menu in Model.MenuBread ?? new List<GetMenuBreadDto>())
					{
						<li class="px-1"><a class="text-decoration-none" href="@menu.Link">@menu.Title</a></li>
					}
				</ol>
			</nav>
			<div class="title fs-1 fw-bold px-5 text-white container">@Model.PageData.Title</div>
		</div>
	}
}

<Content class="d-none">@HttpUtility.HtmlEncode(Model.PageData.Html)</Content>
<div id="PostCSS" class="d-none">@HttpUtility.HtmlEncode(Model.PageData.Css)</div>