@using System.Web;
@using EtheriT.Coker.Application.Shared.Dto.WebMenu
@using EtheriT.Coker.Application.Shared.Dto.enumType;
@using EtheriT.Coker.Web.Public.Models;
@using EtheriT.Coker.Application.Shared.i18n;
@model PageViewModel
<link rel="stylesheet" href="~/css//Page/Member.min.css" asp-append-version="true" />
<script src="/js/Page/Member.min.js" asp-append-version="true"></script>
<script nonce="@ViewBag.Nonce">
    const PageKey = "@Model.option";
    const local = @Html.Raw(L.getAllJsonString());
</script>
@Html.AntiForgeryToken()
<div class="top_title_1 p-3">
    <nav class="bread d-none d-md-block container">
        <ol class="list-unstyled d-flex my-0">
            @foreach (var menu in Model.MenuBread ?? new List<GetMenuBreadDto>())
            {
                @if (@menu.Link == "")
                {
                    <li class="px-1">@menu.Title</li>
                }
                else
                {
                    <li class="px-1"><a class="text-decoration-none" href="@menu.Link" title="連結至:@menu.Title">@menu.Title</a></li>
                }
            }
        </ol>
    </nav>
</div>
<Content id="main">
    <div class="container d-flex flex-row">
        <ul class="nav flex-column" id="ToolList" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane" type="button" role="tab" aria-controls="info-tab-pane" aria-selected="true">個人資料</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">歷史訂單</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="favorite-tab" data-bs-toggle="tab" data-bs-target="#favorite-tab-pane" type="button" role="tab" aria-controls="favorite-tab-pane" aria-selected="false">我的最愛</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history-tab-pane" type="button" role="tab" aria-controls="history-tab-pane" aria-selected="false">瀏覽紀錄</button>
            </li>
        </ul>
        <div id="TabContent" class="tab-content">
            <div id="info-tab-pane" class="tab-pane fade show active p-5" role="tabpanel" aria-labelledby="info-tab" tabindex="0">
                <form id="UserDataForm" class="">
                    <div class="row">
                        <div class="form-floating mb-3 col-12  col-sm-6">
                            <input id="Name" name="name" class="customer_info form-control" type="text" placeholder="" required>
                            <label class="required required_all" for="name">姓　名</label>
                            <div class="invalid-feedback">姓名不可為空!</div>
                        </div>
                        <fieldset class="row mb-3 col-12 col-sm-6 ">
                            <legend class="col-form-label col-sm-2 pt-0 align-content-center">性別</legend>
                            <div class="col-sm-10 align-content-center">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sex" id="inputSex1" value="1">
                                    <label class="form-check-label" for="inputSex1">男</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sex" id="inputSex2" value="2">
                                    <label class="form-check-label" for="inputSex2">女</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sex" id="inputSex" value="3">
                                    <label class="form-check-label" for="inputSex">其他</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="Birthday" name="birthday" class="customer_info form-control bg-white" type="date">
                        <label class="" for="Birthday">生　日</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="Email" name="email" class="customer_info form-control" type="Email" placeholder="" required disabled>
                        <label class="required required_all" for="Email">電子郵件</label>
                        <div class="invalid-feedback">電子郵件不可為空!</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="CellPhone" name="cellPhone" class="customer_info form-control" type="tel" placeholder="">
                        <label class="" for="CellPhone">手機號碼</label>
                    </div>
                    <div class="row">
                        <div class="form-floating mb-3 col-4 col-sm-2">
                            <input id="TelPhoneZone" class="form-control" name="zone" type="tel" placeholder="請輸入區碼" value="" pattern="[0]\d{1,3}" maxlength="4">
                            <label class="px-4" for="TelPhoneZone">電話區碼</label>
                        </div>
                        <div class="form-floating mb-3 col pe-sm-0 ps-0">
                            <input id="TelPhone" class="form-control" name="telPhone" type="tel" placeholder="請輸入聯絡電話" value="" pattern="\d{7}" maxlength="7">
                            <label for="TelPhone">聯絡電話</label>
                        </div>
                        <div class="form-floating mb-3 col-6 col-sm-3">
                            <input id="TelPhoneExt" class="form-control" name="ext" type="tel" placeholder="請輸入分機號碼" value="" pattern="\d*">
                            <label class="px-4" for="TelPhoneExt">分機</label>
                        </div>
                    </div>
                    <div id="TWzipcode" class="row" data-form-type="zipcode">
                        <div class="county form-floating mb-3 col-6 col-sm-3" data-role="county"></div>
                        <div class="district form-floating mb-3 col-6 col-sm-3 pe-sm-0 ps-0" data-role="district"></div>
                        <div class="form-floating mb-3 col-12 col-sm-6">
                            <input id="Address" name="address" class="address form-control" type="text" placeholder="請輸入您的地址">
                            <label class="px-4" for="Address">地址</label>
                            <div class="invalid-feedback">地址格式錯誤!</div>
                        </div>
                    </div>
                </form>
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <button class="btn_modifi btn btn-secondary rounded me-3">資料修改</button>
                        <button class="btn_resetPassword btn btn-secondary rounded">密碼修改</button>
                    </div>
                    <button class="btn_logout btn btn-secondary rounded">登　　出</button>
                </div>
            </div>
            <div id="profile-tab-pane" class="tab-pane fade p-5" role="tabpanel" aria-labelledby="profile-tab" tabindex="1">
                <div class="nodata h5 text-center fw-bold d-none">查無歷史訂單</div>
                <template id="Template_Order_List">
                    <div class="border border-5 rounded p-3 mb-3">
                        <div class="row mb-1">
                            <div class="col-3 text-center">訂單編號</div>
                            <div class="col-3 text-center">訂單日期</div>
                            <div class="col-3 text-center">訂購總額</div>
                            <div class="col-3 text-center">訂單狀態</div>
                        </div>
                        <div class="row my-1">
                            <div class="number col-3 text-center"></div>
                            <div class="date col-3 text-center"></div>
                            <div class="amount col-3 text-center"></div>
                            <div class="state col-3 text-center"></div>
                        </div>
                        <div class="collapse">
                            <div class="card card-body">
                                <ul class="list-group list-group-flush mb-3">
                                    <li class="list-group-item">
                                        <div class="row d-lg-flex">
                                            <div class="col-2 text-center">商品圖片</div>
                                            <div class="col-4 text-start">商品名稱</div>
                                            <div class="col-2 text-end">單價</div>
                                            <div class="col-2 text-end">數量</div>
                                            <div class="col-2 text-end">小計</div>
                                        </div>
                                    </li>
                                    <template id="Template_Order_Details_List">
                                        <li class="list-group-item">
                                            <a href="" title="" target="_self">
                                                <div class="row d-lg-flex">
                                                    <div class="col-2 text-center"><img src="" alt="" /></div>
                                                    <div class="title col-4 text-start align-content-center"></div>
                                                    <div class="price col-2 text-end align-content-center"></div>
                                                    <div class="quantity col-2 text-end align-content-center"></div>
                                                    <div class="subtotal price col-2 text-end align-content-center"></div>
                                                </div>
                                            </a>
                                        </li>
                                    </template>
                                </ul>
                                <div class="row d-lg-flex px-3">
                                    <div class="col-10 text-end align-content-center">商品金額：</div>
                                    <div class="header_subtotal price col-2 text-end align-content-center"></div>
                                </div>
                                <div class="row d-lg-flex px-3">
                                    <div class="col-10 text-end align-content-center">運費：</div>
                                    <div class="header_freight price col-2 text-end align-content-center"></div>
                                </div>
                                <div class="row d-lg-flex px-3">
                                    <div class="col-10 text-end align-content-center fw-bold">總金額：</div>
                                    <div class="header_total price col-2 text-end align-content-center fw-bold"></div>
                                </div>
                            </div>
                        </div>
                        <button class="btn_collapse btn bg_gray border-0 rounded text-black w-100" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                            點擊查看訂單詳細
                        </button>
                    </div>
                </template>
            </div>
            <div id="favorite-tab-pane" class="tab-pane fade p-5" role="tabpanel" aria-labelledby="favorite-tab" tabindex="2">我的最愛</div>
            <div id="history-tab-pane" class="tab-pane fade p-5" role="tabpanel" aria-labelledby="history-tab" tabindex="3">
                <div class="nodata h5 text-center fw-bold d-none">查無瀏覽紀錄</div>
                <template id="Template_Prod_List">
                    <div class="border border-5 rounded row position-relative mb-3">
                        <a data-key="link" href="" title="" target="_self">
                            <figure class="d-flex p-3 mb-0">
                                <img data-key="image" src="" alt="" class="me-3" />
                                <figcaption class="flex-grow-1 me-5">
                                    <div class="d-flex flex-column h-100">
                                        <div class="d-flex">
                                            <div data-key="itemNo" class="pe-3"></div>
                                            <div data-key="title" class="fw-bold"></div>
                                        </div>
                                        <br />
                                        <div data-key="description" class="description"></div>
                                        <div data-key="price" class="price fw-bold text-end h-100 align-content-end"></div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                        <div class="shareBlock position-absolute end-0 w-auto p-1 m-3 rounded-circle bg-secondary">
                            <button class="btn_share bg-transparent border-0" value="分享">
                                <i class="fa-solid fa-share text-white"></i>
                                <span class="d-none">分享</span>
                            </button>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</Content>