@using System.Web;
@using EtheriT.Coker.Application.Shared.Dto.WebMenu;
@using EtheriT.Coker.Application.Shared.i18n;
@model PageViewModel
<script nonce="@ViewBag.Nonce">
    const ProdId = @Model.PageData!.Id;
    const PageKey = "Product";
    const local = @Html.Raw(L.getAllJsonString());
</script>
<link rel="stylesheet" href="~/css/Page/ProductContent.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Page/Index.min.css" asp-append-version="true" />
<script src="~/js/ProductAction.min.js" asp-append-version="true"></script>
<script src="~/js/Page/ProductContent.min.js" asp-append-version="true"></script>

<div id="ProDisplayModal" class="modal fade" tabindex="-1" aria-labelledby="Product Display Modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 position-relative">
            <button class="btn_close_prodisplaymodal btn-close rounded-circle position-absolute end-0 top-0 p-2 m-2" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <a href="#" class="material-symbols-outlined btn-tool prev-btn">arrow_back_ios</a>
            <div class="modal-body mx-auto w-100 d-flex">
                <div id="Pro_Image" class="pro_img d-none"
                     data-folder=""
                     data-filename-x=""
                     data-amount-x="1"
                     data-pointer-zoom="2"
                     hide-360-logo></div>
                <div id="Pro_360View" class="pro_360view d-none"
                     data-folder="../upload/Product/3d_pro/"
                     data-filename-x=""
                     data-amount-x=""
                     data-speed="100"
                     data-drag-speed="120"
                     data-pointer-zoom="2"></div>
                <video id="Pro_Video" class="pro_video d-none w-100 h-100" controls></video>
                <iframe id="Pro_Youtube" class="pro_youtube d-none w-100" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <a href="#" class="material-symbols-outlined btn-tool next-btn">arrow_forward_ios</a>
        </div>
    </div>
</div>

@*<nav id="Breadcrumb" class="container mt-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/lcb/home">首頁</a></li>
        <li class="breadcrumb-item">Derek商品</li>
        <li class="breadcrumb-item"><a href="/lcb/product/toilet">馬桶</a></li>
        <li class="breadcrumb-item active" aria-current="page">C659NA德瑞克Smart III淨未來智慧馬桶</li>
    </ol>
</nav>*@

<div class="top_title_1 p-3">
    <nav class="bread d-none d-md-block container">
        <ol class="list-unstyled d-flex my-0">
            @foreach (var menu in Model.MenuBread ?? new List<GetMenuBreadDto>())
            {
                @if (@menu.Link == "")
                {
                    <li class="px-1">@menu.Title</li>
                }
                else
                {
                    <li class="px-1"><a class="text-decoration-none" href="@menu.Link" title="連結至:@menu.Title">@menu.Title</a></li>
                }
            }
        </ol>
    </nav>
</div>

<template id="Template3DSlide">
    <div class="swiper-slide mb-0 d-flex align-items-center justify-content-center" data-pid="">
        <img class="pro_display img-fluid" src="" alt="" data-display-protype="360view" data-filename-x="{index}.jpg" data-amount-x="15" data-bs-target="#ProDisplayModal" data-bs-toggle="modal" />
        <div class="schematic_360view position-absolute"><img src="~/upload/icon_360.png" alt="" /></div>
    </div>
</template>

<template id="TemplateImageSlide">
    <div class="swiper-slide mb-0 d-flex align-items-center justify-content-center" data-pid="">
        <img class="pro_display img-fluid" src="" alt="" data-display-protype="image" data-bs-target="#ProDisplayModal" data-bs-toggle="modal" />
        <div class="schematic_image position-absolute"><img src="~/upload/icon_zoombig.png" alt="" /></div>
    </div>
</template>

<template id="TemplateVideoSlide">
    <div class="swiper-slide mb-0 d-flex align-items-center justify-content-center position-relative bg-black" data-pid="">
        <div class="schematic_video position-absolute"><i class="fa-solid fa-circle-play"></i></div>
        <video class="pro_display w-100 h-100" src="" alt="" data-display-protype="video" data-bs-target="#ProDisplayModal" data-bs-toggle="modal" />
    </div>
</template>

<template id="TemplateYTVideoSlide">
    <div class="swiper-slide mb-0 d-flex align-items-center justify-content-center position-relative" data-pid="">
        <img class="pro_display img-fluid" src="" alt="" data-youtube-link="" data-display-protype="youtube" data-bs-toggle="modal" data-bs-target="#ProDisplayModal" />
        <div class="schematic_youtube position-absolute"><i class="fa-brands fa-youtube"></i></div>
    </div>
</template>

<template id="TemplatePreviewSlide">
    <div class="swiper-slide" data-pid="">
        <img class="img-fluid" src="" alt="" />
    </div>
</template>

<template id="TemplateDemoSlide">
    <div class="swiper-slide mb-0 d-flex align-items-center justify-content-center" data-pid="1">
        <img class="pro_display img-fluid" src="~/upload/product/3d_pro/1.jpg" alt="" data-display-protype="360view" data-filename-x="{index}.jpg" data-amount-x="15" data-bs-target="#ProDisplayModal" data-bs-toggle="modal" />
        <div class="schematic_360view position-absolute"><img src="~/upload/icon_360.png" alt="" /></div>
    </div>

    <div class="swiper-slide mb-0 d-flex align-items-center justify-content-center" data-pid="1">
        <img class="pro_display img-fluid" src="~/upload/product/pro_01.png" alt="" data-display-protype="image" data-bs-target="#ProDisplayModal" data-bs-toggle="modal" />
        <div class="schematic_image position-absolute"><img src="~/upload/icon_zoombig.png" alt="" /></div>
    </div>

    <div class="swiper-slide mb-0 d-flex align-items-center justify-content-center" data-pid="2">
        <img class="pro_display img-fluid" src="~/upload/product/pro_02.png" alt="" data-display-protype="image" data-bs-toggle="modal" data-bs-target="#ProDisplayModal" />
        <div class="schematic_image position-absolute"><img src="~/upload/icon_zoombig.png" alt="" /></div>
    </div>

    <div class="swiper-slide mb-0 d-flex align-items-center justify-content-center" data-pid="3">
        <img class="pro_display img-fluid" src="~/upload/product/pro_03.png" alt="" data-display-protype="image" data-bs-toggle="modal" data-bs-target="#ProDisplayModal" />
        <div class="schematic_image position-absolute"><img src="~/upload/icon_zoombig.png" alt="" /></div>
    </div>

    <div class="swiper-slide mb-0 d-flex align-items-center justify-content-center" data-pid="4">
        <img class="pro_display img-fluid" src="~/upload/product/pro_04.png" alt="" data-display-protype="image" data-bs-toggle="modal" data-bs-target="#ProDisplayModal" />
        <div class="schematic_image position-absolute"><img src="~/upload/icon_zoombig.png" alt="" /></div>
    </div>

    <div class="swiper-slide mb-0 d-flex align-items-center justify-content-center" data-pid="1">
        <img class="pro_display img-fluid" src="~/upload/product/pro_content_01.png" alt="" data-display-protype="image" data-bs-toggle="modal" data-bs-target="#ProDisplayModal" />
        <div class="schematic_image position-absolute"><img src="~/upload/icon_zoombig.png" alt="" /></div>
    </div>

    <div class="swiper-slide mb-0 d-flex align-items-center justify-content-center" data-pid="1">
        <img class="pro_display img-fluid" src="~/upload/product/pro_content_02.png" alt="" data-display-protype="image" data-bs-toggle="modal" data-bs-target="#ProDisplayModal" />
        <div class="schematic_image position-absolute"><img src="~/upload/icon_zoombig.png" alt="" /></div>
    </div>

    <div class="swiper-slide mb-0 d-flex align-items-center justify-content-center position-relative" data-pid="1">
        <img class="pro_display img-fluid" src="~/upload/product/pro_content_03.png" alt="" data-youtube-link="JGEj2nhPvDs" data-display-protype="youtube" data-bs-toggle="modal" data-bs-target="#ProDisplayModal" />
        <div class="schematic_youtube position-absolute"><i class="fa-brands fa-youtube"></i></div>
    </div>

    <div class="swiper-slide mb-0 d-flex align-items-center justify-content-center" data-pid="1">
        <img class="pro_display img-fluid" src="~/upload/product/pro_pic_01.jpg" alt="" data-display-protype="image" data-bs-toggle="modal" data-bs-target="#ProDisplayModal" />
        <div class="schematic_image position-absolute"><img src="~/upload/icon_zoombig.png" alt="" /></div>
    </div>

    <div class="swiper-slide mb-0 d-flex align-items-center justify-content-center" data-pid="1">
        <img class="pro_display img-fluid" src="~/upload/product/pro_pic_02.jpg" alt="" data-display-protype="image" data-bs-toggle="modal" data-bs-target="#ProDisplayModal" />
        <div class="schematic_image position-absolute"><img src="~/upload/icon_zoombig.png" alt="" /></div>
    </div>

    <div class="swiper-slide mb-0 d-flex align-items-center justify-content-center" data-pid="1">
        <img class="pro_display img-fluid" src="~/upload/product/pro_pic_03.jpg" alt="" data-display-protype="image" data-bs-toggle="modal" data-bs-target="#ProDisplayModal" />
        <div class="schematic_image position-absolute"><img src="~/upload/icon_zoombig.png" alt="" /></div>
    </div>

    <div class="swiper-slide mb-0 d-flex align-items-center justify-content-center" data-pid="1">
        <img class="pro_display img-fluid" src="~/upload/product/pro_pic_04.jpg" alt="" data-display-protype="image" data-bs-toggle="modal" data-bs-target="#ProDisplayModal" />
        <div class="schematic_image position-absolute"><img src="~/upload/icon_zoombig.png" alt="" /></div>
    </div>
</template>

<template id="TemplateDemoPreviewSlide">
    <div class="swiper-slide" data-pid="1">
        <img class="img-fluid" src="~/upload/product/3d_pro/1.jpg" alt="" />
    </div>

    <div class="swiper-slide" data-pid="1">
        <img class="img-fluid" src="~/upload/product/pro_01.png" alt="" />
    </div>

    <div class="swiper-slide" data-pid="2">
        <img class="img-fluid" src="~/upload/product/pro_02.png" alt="" />
    </div>

    <div class="swiper-slide" data-pid="3">
        <img class="img-fluid" src="~/upload/product/pro_03.png" alt="" />
    </div>

    <div class="swiper-slide" data-pid="4">
        <img class="img-fluid" src="~/upload/product/pro_04.png" alt="" />
    </div>

    <div class="swiper-slide" data-pid="1">
        <img class="img-fluid" src="~/upload/product/pro_content_01.png" alt="" />
    </div>

    <div class="swiper-slide" data-pid="1">
        <img class="img-fluid" src="~/upload/product/pro_content_02.png" alt="" />
    </div>

    <div class="swiper-slide" data-pid="1">
        <img class="img-fluid" src="~/upload/product/pro_content_03.png" alt="" />
    </div>

    <div class="swiper-slide" data-pid="1">
        <img class="img-fluid" src="~/upload/product/pro_pic_01.jpg" alt="" />
    </div>

    <div class="swiper-slide" data-pid="1">
        <img class="img-fluid" src="~/upload/product/pro_pic_02.jpg" alt="" />
    </div>

    <div class="swiper-slide" data-pid="1">
        <img class="img-fluid" src="~/upload/product/pro_pic_03.jpg" alt="" />
    </div>

    <div class="swiper-slide" data-pid="1">
        <img class="img-fluid" src="~/upload/product/pro_pic_04.jpg" alt="" />
    </div>
</template>

<Content id="main" class="d-none">
    <div id="Product" class="container row m-auto my-3">
        <div class="image col-md-6 col-sm-12">
            <div class="container-fluid position-relative">
                <div class="ProductSwiper swiper">
                    <div class="swiper-wrapper">
                    </div>
                </div>
                <button class="btn_swiper_prev_product rounded-circle border-0 text-white position-absolute start-0 opacity-50"><i class="fa-solid fa-chevron-left fs-3"></i></button>
                <button class="btn_swiper_next_product rounded-circle border-0 text-white position-absolute end-0 opacity-50"><i class="fa-solid fa-chevron-right fs-3"></i></button>
            </div>

            <div thumbsSlider="" class="PreviewSwiper swiper my-3">
                <div class="swiper-wrapper align-items-center">
                </div>
                <div class="swiper-scrollbar"></div>
            </div>

            <ul class="pro_tag col p-0 m-0 d-flex flex-wrap overflow-hidden my-2"></ul>
        </div>

        <div class="content col-md-6 col-sm-12">
            <div class="pro_itemNo title fs-6 py-1"></div>
            <div class="pro_title title fs-2"></div>

            <div class="describe d-flex align-items-center justify-content-between position-relative">
                <ul class="introduce my-2"></ul>

                @if (ViewBag.LoginEnable)
                {
                    @if (ViewBag.isLogin)
                    {
                        <div class="track text-center position-absolute">
                            <button class="btn_favorites bg-transparent border-0 p-0" data-bs-toggle="tooltip" title="加入收藏">
                                <div class="icon_love text-danger"></div>
                            </button>
                        </div>
                    }
                }
            </div>

            <hr class="m-1" />

            <div class="specification text-center my-2">
                <div id="SpecCollapse" class="collapse">
                    <ul class="text-start w-100"></ul>
                </div>
                <button class="btn_detailed px-4 py-1 border-0 rounded-pill d-none" type="button" data-bs-toggle="collapse" data-bs-target="#SpecCollapse" aria-expanded="false" aria-controls="SpecCollapse">
                    詳細規格
                </button>
            </div>

            <div class="pro_tc px-3">
                <div class="title">標章認證</div>
                <ul class="image d-flex flex-wrap"></ul>
            </div>

            <hr class="m-1" data-storeTpe="@ViewBag.storeBuyState" />
            @if (ViewBag.storeBuyState.IndexOf("NoShow") < 0)
            {
                @* <div class="priceframe  flex-wrap"> *@
                <template id="PriceListTemplate">
                    <div class="form-check d-flex align-items-center">
                        <input class="form-check-input me-3" type="radio" name="priceRadio" id="">
                        <label class="form-check-label align-items-baseline d-flex" for="">
                            <span class="text-decoration-line-through ori_price price me-2 d-none"></span>
                            <span class="discount d-flex align-items-baseline fw-bold price text-danger">12,400</span>
                        </label>
                    </div>
                </template>
                <div class="priceframe flex-wrap">
                    @* <div class="col d-flex ps-3 align-items-baseline">
                        <div class="text-decoration-line-through ori_price price me-2 d-none"></div>
                        <div class="discount d-flex align-items-center fs-4 fw-bold price text-danger"></div>
                    </div> *@
                    @*<div class="model col pe-3 align-self-center text-end">型號：C659NA</div>*@
                </div>
                <hr class="m-1" />
            }
            <template id="Template_Spec_Radio">
                <div class="radio d-flex align-items-center my-2">
                    @*<div class="spec_title title"></div>*@
                    <div class="spec_control control d-flex flex-wrap">
                    </div>
                </div>
            </template>
            <div class="options px-3">
                @if (ViewBag.ShoppingEnable && ViewBag.HasShoppingCar != null && ViewBag.HasShoppingCar && ViewBag.storeBuyState.IndexOf("noPay") < 0)
                {
                    <div class="counter d-flex align-items-center my-2">
                        <label class="title" for="quantityInput">數量</label>
                        <div class="counter_input d-flex isEmpty">
                            <div class="quantity">
                                <button class="btn_count_minus bg-white my-1">
                                    <i class="fa-solid fa-minus"></i>
                                    <span class="d-none">減少</span>
                                </button>

                                <input id="quantityInput" class="input_pro_quantity text-center my-1" type="number" name="counter" value="1">

                                <button class="btn_count_plus bg-white my-1">
                                    <i class="fa-solid fa-plus"></i>
                                    <span class="d-none">增加</span>
                                </button>
                            </div>
                            <div class="emptyProd">@L.get("ProdEmpty")</div>
                        </div>
                    </div>
                }
            </div>
            @if (ViewBag.ShoppingEnable && ViewBag.HasShoppingCar != null && ViewBag.HasShoppingCar && ViewBag.storeBuyState.IndexOf("noPay") < 0)
            {
                <div class="btn_addToCar d-flex mb-2 align-items-center justify-content-center text-white" type="button">
                    <div class="icon_plus"></div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(ViewBag.linkMore)){
                <a href="@ViewData["linkMore"]" class="btn_learnMore d-flex align-items-center justify-content-center text-white" type="button" target="_blank" rel="noopener noreferrer">
                    <div class="text-white">@L.get("LearnMore")</div>
                </a>
            }
        </div>
    </div>

    <div id="CenterLine" class="container d-flex pt-sm-0 pt-2 flex-wrap flex-sm-row-reverse align-items-center justify-content-center justify-content-sm-between">
        <div class="shareBlock d-flex align-items-center justify-content-center justify-content-sm-end">
            <div>@L.get("Share")：</div>
        </div>
        <ul id="btn_tab" class="text d-flex pt-2 pt-sm-0 nav nav-pills" role="tablist">
            <li class="nav-item description" role="presentation">
                <button id="pills-description-tab" class="mx-sm-0 nav-link active py-3" data-bs-toggle="pill" data-bs-target="#ProductDescription" type="button" role="tab" aria-controls="pills-description" aria-selected="true">@L.get("ProductDescription")</button>
            </li>
            <li class="nav-item technical" role="presentation">
                <button id="pills-documents-tab" class="mx-sm-0 nav-link py-3" data-bs-toggle="pill" data-bs-target="#TechnicalDocuments" type="button" role="tab" aria-controls="pills-documents" aria-selected="false">@L.get("CertificationMark")</button>
            </li>
            <li class="nav-item files" role="presentation">
                <button id="pills-documents-tab" class="mx-sm-0 nav-link py-3" data-bs-toggle="pill" data-bs-target="#FileDownload" type="button" role="tab" aria-controls="pills-documents" aria-selected="false">@L.get("DownloadFile")</button>
            </li>
        </ul>
    </div>

    <div id="TabContent" class="tab-content container">
        <div id="ProductDescription" class="container tab-pane fade show active" role="tabpanel" aria-labelledby="pills-description" tabindex="0">
            <Content class="d-none">@HttpUtility.HtmlEncode(Model.PageData.Html)</Content>
        </div>

        <div id="TechnicalDocuments" class="pro_tc_content container tab-pane fade" role="tabpanel" aria-labelledby="pills-documents" tabindex="0">
            <div class="techcert_list"></div>
        </div>

        <div id="FileDownload" class="container tab-pane fade" role="tabpanel" aria-labelledby="pills-documents" tabindex="0">
            <div class="File_list"></div>
        </div>
    </div>
</Content>
<div id="SwitchPage" class="container my-5 justify-content-center">
    <a href="" title="" target="_self" class="btn_prev disabled"><span class="translate_ch">上一則</span><span class="translate_en">Previous</span></a>
    <a href="" title="回列表頁" target="_self" class="btn_list mx-4 mx-sm-5"><span class="translate_ch">回列表頁</span><span class="translate_en">Back To List</span></a>
    <a href="" title="" target="_self" class="btn_next disabled"><span class="translate_ch">下一則</span><span class="translate_en">Next</span></a>
</div>
@if (Model.ParentData != null)
{
    <Content id="ParentNode" class="d-none">@HttpUtility.HtmlEncode(Model.ParentData.Html)</Content>
}