@using DevExtreme.AspNet.Mvc
@using EtheriT.Coker.Application.Shared.Dto.Freight
@using EtheriT.Coker.Application.Shared.Dto.Recipients
@using EtheriT.Coker.Application.Shared.Dto.ThirdParty;
@using EtheriT.Coker.Web.Public.Models
@using EtheriT.Coker.Application.Shared.i18n;
@using System.Web
@model PageViewModel
<script nonce="@ViewBag.Nonce">
    const MinOrderForRedemption = @Json.Serialize(ViewBag.MinOrderForRedemption ?? 0);
    const MaxRedemptionPercent = @Json.Serialize(ViewBag.MaxRedemptionPercent ?? 0);
    const MinOrderForEarnPoints = @Json.Serialize(ViewBag.MinOrderForEarnPoints ?? 0);
    const RewardRatePercent = @Json.Serialize(ViewBag.RewardRatePercent ?? 0);
</script>
<link rel="stylesheet" href="~/css/Page/ShoppingCart.min.css" asp-append-version="true" />
<script src="~/js/Page/ShoppingCart.min.js" asp-append-version="true"></script>
@Html.AntiForgeryToken()
<!-- Modal -->
<div id="RecipientModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 id="staticBackdropLabel" class="modal-title fw-bold">選擇收件地址清單</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                @* @(Html.DevExtreme().DataGrid<RecipientsDto>()
                .DataSource(d => d.RemoteController().Key("Id")
                .LoadUrl("/api/Recipients/GetAllList").LoadMethod("Get")
                )
                .ID("RecipientsList")
                .Selection(s =>
                s.Mode(SelectionMode.Single).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always)
                )
                .RemoteOperations(true)
                .ColumnHidingEnabled(false)
                .ShowBorders(true)
                .FilterRow(filterRow => filterRow
                .Visible(true)
                .ApplyFilter(GridApplyFilterMode.Auto)
                )
                .SearchPanel(searchPanel => searchPanel
                .Visible(true)
                .Placeholder("請輸入要搜尋的資料")
                )
                .Editing(editing =>
                {
                editing.Mode(GridEditMode.Row);
                editing.AllowDeleting(true);
                editing.UseIcons(true);
                })
                .Columns(c =>
                {
                c.AddFor(e => e.Id).Caption("編號").Visible(false).AllowEditing(false).SortOrder(SortOrder.Desc);
                c.AddFor(e => e.Name).Caption("姓名").AllowEditing(false);
                c.AddFor(e => e.Email).Caption("電子郵件").AllowEditing(false);
                c.AddFor(e => e.Address).Caption("地址").AllowEditing(false);
                c.AddFor(e => e.TelePhone).Caption("行動電話").AllowEditing(false);
                c.AddFor(e => e.CellPhone).Caption("聯絡電話").AllowEditing(false);
                c.Add()
                .Type(GridCommandColumnType.Buttons)
                .Buttons(b =>
                {
                b.Add().Name("delete").OnClick("RecipientsList_DeleteButtonClicked");
                });
                })
                .Toolbar(toolbar =>
                {
                toolbar.Items(i =>
                {
                i.Add()
                .Name(DataGridToolbarItem.SearchPanel)
                .ShowText(ToolbarItemShowTextMode.Always)
                .Location(ToolbarItemLocation.After);
                });
                })
                //.OnSelectionChanged("RecipientsList_SelectChange")
                .OnContentReady("RecipientsList_ContentReady")
                .Paging(paging => paging.PageSize(10))
                ) *@
                @* <table class="table">
                <thead>
                <tr>
                <th scope="col" class="fw-normal">選擇</th>
                <th scope="col" class="fw-normal">姓名</th>
                <th scope="col" class="fw-normal">郵遞區號</th>
                <th scope="col" class="fw-normal">地址</th>
                <th scope="col" class="fw-normal">聯絡電話</th>
                <th scope="col" class="fw-normal">行動電話</th>
                <th scope="col" class="fw-normal">刪除</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <th scope="row" class="fw-normal">
                <label class="d-none" for="radio_recipient1">選擇</label>
                <input id="radio_recipient1" class="form-check-input" type="radio" name="RecipientDataRadio" checked>
                </th>
                <td class="fw-normal">姓○</td>
                <td class="fw-normal">806</td>
                <td class="fw-normal">地址資料***</td>
                <td class="fw-normal">07-1234***</td>
                <td class="fw-normal">0912-******</td>
                <td class="fw-normal">
                <button type="button" class="btn_delete_recipient bg-transparent border-0">
                <i class="fa-solid fa-xmark"></i>
                <span class="d-none">送出</span>
                </button>
                </td>
                </tr>
                <tr>
                <th scope="row" class="fw-normal">
                <label class="d-none" for="radio_recipient2">選擇</label>
                <input id="radio_recipient2" class="form-check-input" type="radio" name="RecipientDataRadio">
                </th>
                <td class="fw-normal">姓○</td>
                <td class="fw-normal">806</td>
                <td class="fw-normal">地址資料***</td>
                <td class="fw-normal">07-1234***</td>
                <td class="fw-normal">0912-******</td>
                <td class="fw-normal">
                <button type="button" class="btn_delete_recipient bg-transparent border-0">
                <i class="fa-solid fa-xmark"></i>
                <span class="d-none">送出</span>
                </button>
                </td>
                </tr>
                </tbody>
                </table> *@
            </div>
            <div class="modal-footer justify-content-center border-0">
                <button type="button" class="text-white border-0 px-5 py-1" data-bs-dismiss="modal">確定</button>
            </div>
        </div>
    </div>
</div>
@if (Model.PageData != null && !string.IsNullOrWhiteSpace(Model.PageData.Html))
{
    <Content id="main" class="d-none">@HttpUtility.HtmlEncode(Model.PageData.Html)</Content>
}

@if (Model.ParentData != null && !string.IsNullOrWhiteSpace(Model.ParentData.Html))
{
    <Content id="ParentNode" class="d-none">@HttpUtility.HtmlEncode(Model.ParentData.Html)</Content>
}
<div class="history container my-4 d-flex flex-wrap justify-content-center justify-content-md-end d-none">
    <a class="bg-white text-center m-1 py-2" href="/@ViewData["OrgName"]/Favorites">
        <div>收藏商品<span class="fw-bold">20</span>件</div>
    </a>
    <a href="" class="bg-white text-center m-1 py-2">
        <div>買過商品<span class="fw-bold">3</span>件</div>
    </a>
</div>
<div id="BuyStepSwiper" class="container pt-5 pb-4 mt-4 position-relative">
    @if (ViewBag.LoginEnable != null && ViewBag.LoginEnable && !ViewBag.isLogin)
    {
        <div id="memberLogin" class="container my-5">
            <div class="rounded-1 px-3 py-4 bg-white d-flex align-items-center justify-content-center justify-content-sm-start">
                <div>購買前登入會員可更方便查詢訂單！</div>
                <button class="btn_call_login bg-transparent rounded-1 ms-0 ms-sm-3">會員登入</button>
            </div>
        </div>
    }

    <div class="swiper shadow-lg mt-5">
        <div class="swiper-wrapper">
            <div id="Step1" class="card text-center swiper-slide">
                <div class="card-header px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="fs-5 my-2">購物明細</div>
                </div>

                <div class="card-body pt-5 d-none">
                    <div class="list_title row d-none d-lg-flex">
                        <div class="col-6 text-start">商品資訊</div>
                        <div class="col-2">單價</div>
                        <div class="col-2">數量</div>
                        <div class="col-2">小計</div>
                    </div>
                    <template id="Template_Cart_Group">
                        <li class="purchase_group border-top py-2" data-group-id="">
                            <div class="group_header mb-2">
                                <label class="form-check d-flex align-items-center">
                                    <input type="checkbox" class="form-check-input me-2 js-group-check">
                                    <span class="group_title fw-bold" data-field="title"></span>
                                    <span class="badge bg-secondary ms-2" data-field="count">0 件</span>
                                </label>
                                <div class="text-muted small" data-field="describe"></div>
                            </div>

                            <ul class="group_items list-unstyled mb-0"></ul>

                            <div class="group_footer mt-2 pt-2 d-flex justify-content-between align-items-center">
                                <small class="text-muted">已選 <span class="js-selected-count">0</span> 件</small>
                                <div>
                                    <span class="fw-bold">小計：</span>
                                    <span class="js-group-subtotal red_text fw-bold" data-subtotal="0">$0</span>
                                </div>
                            </div>
                        </li>
                    </template>


                    <template id="Template_Cart_Details">
                        <li class="purchase_item row border-bottom border-top py-2 align-items-lg-center position-relative" data-scid="">
                            <div class="image col-lg-6 col-sm-2 col-4 row gx-0">
                                <div class="d-flex align-content-center pro_link col-lg-2 col-12 me-3">
                                    <input type="checkbox" name="buyItems" class="me-2" />
                                    <label>
                                        <img data-key="imagePath" class="pro_image img-fluid" alt="商品" src="">
                                    </label>
                                </div>
                                <a data-key="link" class="pro_link col text-start overflow-hidden" href="" target="_blank" rel="noopener noreferrer">
                                    <div class="content d-lg-block d-none">
                                        <div data-key="title" class="pro_name single_line fw-bold"></div>
                                        <div class="pro_detail d-flex flex-wrap">
                                            <div data-key="spec" class="pro_specification pe-3"></div>
                                        </div>
                                        <div data-key="freight" class="fixedFreight"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="nostock text-start col-sm-6 col d-none">
                                <div data-key="title" class="pro_name d-lg-none single_line fw-bold"></div>
                                <div class="pro_detail d-lg-none d-flex flex-wrap">
                                    <div data-key="spec" class="pro_specification pe-3"></div>
                                </div>
                                <div class="h5 fw-bold red_text">商品規格已下架或庫存為0</div>
                            </div>
                            <div class="content col-sm-6 col row gx-0 overflow-hidden">
                                <a data-key="link" class="pro_link" href="" title="連結至：商品" target="_blank" rel="noopener noreferrer">
                                    <div class="d-lg-none d-block text-start">
                                        <div data-key="title" class="pro_name single_line fw-bold"></div>
                                        <div class="pro_detail d-flex flex-wrap">
                                            <div data-key="spec" class="pro_specification pe-3"></div>
                                            @*<div class="pro_instructions single_line"></div>*@
                                        </div>
                                    </div>
                                </a>

                                <div class="col-12 col-lg-4 my-3 my-lg-0 fw-bold align-self-center text-start text-lg-center">
                                    <div data-key="oldPrice" data-type="price" class="pro_old_unit fw-light text-decoration-line-through d-none"></div>
                                    <div data-key="price" data-type="price" class="pro_unit cart-price-block">
                                        <div class="cart-price-main"></div>
                                        <div class="cart-price-bonus d-none"></div>
                                    </div>
                                </div>

                                <div class="counter_input col-12 col-lg-4 d-flex justify-content-start justify-content-lg-center align-items-center">
                                    <button class="btn_count_minus bg-white border-end-0">
                                        <i class="fa-solid fa-minus"></i>
                                        <span class="d-none">減少</span>
                                    </button>
                                    <label class="d-none" for="quantityInput1">數量</label>
                                    <input data-key="quantity" id="quantityInput1" class="pro_quantity text-center py-1" type="number" name="counter" value="">

                                    <button class="btn_count_plus bg-white border-start-0">
                                        <i class="fa-solid fa-plus"></i>
                                        <span class="d-none">增加</span>
                                    </button>
                                </div>

                                <div data-key="subtotal" data-type="price" class="pro_subtotal col-4 fw-bold fs-5 d-lg-block d-none cart-price-block" data-subtotal="">
                                    <div class="cart-price-main"></div>
                                    <div class="cart-price-bonus d-none"></div>
                                </div>
                            </div>

                            <div class="btn_side_icon position-absolute d-flex flex-column top-50 translate-middle-y end-0 p-2">

                                @if (ViewBag.LoginEnable)
                                {
                                    @if (ViewBag.isLogin)
                                    {
                                        <span class="d-inline-block favorites" tabindex="0" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-content="加入/移除收藏">
                                            <button class="btn_move_to_favorites bg-transparent border-0">
                                                <i class="fa-regular fa-heart text-danger"></i>
                                                <span class="d-none">加入/移除收藏</span>
                                            </button>
                                        </span>
                                    }
                                }
                                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-content="移除商品">
                                    <button class="btn_remove_pro bg-transparent border-0">
                                        <i class="fa-solid fa-xmark"></i>
                                        <span class="d-none">移除商品</span>
                                    </button>
                                </span>
                            </div>
                        </li>
                    </template>
                    <ul class="purchase_list ps-4 pe-5"></ul>

                    <div class="priceline priceline-step1 pe-sm-5 col-12 col-md-7 offset-md-5">
                        <div class="summary-main-row">
                            <div class="summary-label">商品金額</div>
                            <div class="summary-amount dual-price">
                                <span class="bonus-part"><span class="bonus"></span>點</span>
                                <span class="plus-sign">+</span>
                                <span class="cash-part subtotal price"></span>
                            </div>
                        </div>

                        <div class="summary-main-row bonusDiscionLine d-none">
                            <div class="summary-label">紅利折抵</div>
                            <div class="summary-amount bonusDiscion price-negative"></div>
                        </div>

                        <div class="summary-note-row bonusRuleLine d-none">
                            <div class="summary-note-value bonusRedeemRuleText"></div>
                            <div class="summary-note-label"></div>
                        </div>

                        <div class="summary-panel">
                            <div class="summary-main-row bonusUseTotalLine d-none">
                                <div class="summary-label">使用總紅利</div>
                                <div class="summary-amount bonusUseTotalValue"></div>
                            </div>

                            <div class="summary-total-row">
                                <div class="summary-label">小計</div>
                                <div data-key="payableSubtotal" class="summary-amount payable_subtotal price fs-5 fw-bold red_text"></div>
                            </div>

                            <div class="summary-reward-row bonusRedeemHintLine d-none">
                                <div class="summary-reward-box">
                                    <i class="fa-solid fa-gift summary-reward-icon"></i>
                                    <span class="bonusEarnHintText"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="js-bonus-nextstep-hint text-danger small mb-2 d-none text-center">
                        <i class="fa-solid fa-triangle-exclamation me-1"></i>
                        <span class="js-bonus-nextstep-text"></span>
                    </div>

                    <div class="swiper_button my-5 d-flex justify-content-center">
                        <a href="@ViewData["prodCatalog"]" title="繼續購物：回商品目錄" class="btn_backshop btn_gray_dark border-0 mx-2 p-0 py-2 rounded-3 text-center text-white">返回購物</a>
                        <button class="btn_swiper_next_buystep border-0 p-0 py-2 rounded-3 text-center text-white mx-2">
                            下一步
                        </button>
                    </div>
                </div>

                <div id="Purchase_Null" class="align-items-center flex-column justify-content-center">
                    <div class="mt-5">您的購物車是空的</div>
                    <a class="btn_backshop btn_gray_dark border-0 p-0 py-2 rounded-3 text-center text-white my-5" href="@ViewData["prodCatalog"]" title="繼續購物：回商品目錄">點此返回選購</a>
                </div>
            </div>

            <div id="Step3" class="card text-center swiper-slide">
                <div class="card-header px-3 py-2 d-flex align-items-center justify-content-between">
                    @* <div class="fs-5 my-2">購物明細</div> *@
                    <div class="fs-5">訂購人資料</div>
                    <button class="btn_edit_data bg-transparent border-0 fs-3 ms-1" title="編輯">
                        <i class="fa-regular fa-pen-to-square"></i>
                        <span class="d-none">編輯</span>
                    </button>
                    <button class="btn_inituser border-0 ms-auto opacity-75 text-decoration-underline">恢復預設資料</button>
                </div>

                <div class="card-body px-0">
                    <div id="OrdererForm">
                        <div class="default_data">
                            <div class="row">
                                <div class="col-auto col-sm-2 text-end ps-4">姓　　名：</div>
                                <div data-key="orderer" class="col ps-0 text-start"></div>
                            </div>
                            <div class="row">
                                <div class="col-auto col-sm-2 text-end ps-4">電子郵件：</div>
                                <div data-key="ordererEmail" class="col ps-0 text-start"></div>
                            </div>
                            <div class="row">
                                <div class="col-auto col-sm-2 text-end ps-4">手機號碼：</div>
                                <div data-key="ordererCellPhone" class="col ps-0 text-start"></div>
                            </div>
                            <div class="row">
                                <div class="col-auto col-sm-2 text-end ps-4">地　　址：</div>
                                <div data-key="ordererAddress" class="col ps-0 text-start"></div>
                            </div>
                        </div>

                        <form id="Form_Orderer" class="px-3 px-sm-5 d-none needs-validation" method="post" novalidate>
                            <input type="hidden" name="authentiity_token" value="@Model.token" />
                            <div class="row mx-0">
                                <div class="form-floating mb-3 col-12 col-sm-6 px-0">
                                    <input id="OrdererInputName" class="orderer_name form-control" name="orderer" type="text" placeholder="name" value="" minlength="2" required>
                                    <label class="required" for="OrdererInputName">姓　　名</label>
                                </div>
                                <div class="gender d-flex align-self-center col-12 col-sm-6 mb-3">
                                    <div class="form-check pe-3">
                                        <input id="OrdererRadioSir" class="form-check-input" type="radio" name="ordererSex" value="1" required>
                                        <label class="form-check-label" for="OrdererRadioSir">男</label>
                                    </div>
                                    <div class="form-check pe-3">
                                        <input id="OrdererRadioMiss" class="form-check-input" type="radio" name="ordererSex" value="2" required>
                                        <label class="form-check-label" for="OrdererRadioMiss">女</label>
                                    </div>
                                    <div class="form-check">
                                        <input id="OrdererRadioElse" class="form-check-input" type="radio" name="ordererSex" value="3" required>
                                        <label class="form-check-label" for="OrdererRadioElse">其他</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating mb-3 col-12 col-sm-6 e-mail">
                                <input id="OrdererInputMail" class="orderer_mail form-control" name="ordererEmail" type="email" placeholder="name@example.com" value="" required>
                                <label class="required" for="OrdererInputMail">E-mail</label>
                            </div>
                            <div class="form-floating mb-3 col-12 col-sm-6 cell-phone">
                                <input id="OrdererInputCellPhone" class="orderer_phone form-control" name="ordererCellPhone" type="tel" placeholder="請輸入手機號碼" value="" pattern="[0][9]\d{8}" maxlength="10" required>
                                <label class="required" for="OrdererInputCellPhone">手機號碼</label>
                            </div>
                            <div class="row">
                                <div class="form-floating mb-3 col-4 col-sm-2 tel-area">
                                    <input id="OrdererInputTelPhoneArea" class="orderer_areacode form-control" name="zone" type="tel" placeholder="請輸入區碼" value="" pattern="[0]\d{1,3}" maxlength="4">
                                    <label class="px-4" for="OrdererInputTelPhoneArea">電話區碼</label>
                                </div>
                                <div class="form-floating mb-3 col-8 col-sm-4 pe-sm-0 ps-0 tel-phone">
                                    <input id="OrdererInputTelPhone" class="orderer_cellphone form-control" name="ordererTelePhone" type="tel" placeholder="請輸入聯繫電話" value="" pattern="\d{7}" maxlength="7">
                                    <label for="OrdererInputTelPhone">聯絡電話</label>
                                </div>
                                <div class="form-floating mb-3 col-6 col-sm-3 phone-ext">
                                    <input id="OrdererInputTelPhoneExt" class="orderer_extension form-control" name="ext" type="tel" placeholder="請輸入分機號碼" value="" pattern="\d*">
                                    <label class="px-4" for="OrdererInputTelPhoneExt">分機</label>
                                </div>
                            </div>
                            <div id="Orderer_TWzipcode" class="row">
                                <div class="county form-floating mb-3 col-6 col-sm-3" data-role="county"></div>
                                <div class="district form-floating mb-3 col-6 col-sm-3 pe-sm-0 ps-0" data-role="district"></div>
                                <div class="form-floating mb-3 col-12 col-sm-6">
                                    <input id="OrdererInputAddress" class="orderer_address form-control" name="ordererAddress" type="text" placeholder="請輸入地址" value="" required>
                                    <label class="px-4 required" for="OrdererInputAddress">地址</label>
                                </div>
                            </div>
                            @if (ViewBag.LoginEnable != null && ViewBag.LoginEnable && ViewBag.isLogin)
                            {
                                <div class="form-check memberUpdate">
                                    <input id="MemberUpdate" class="form-check-input" type="checkbox">
                                    <label class="form-check-label" for="MemberUpdate">同時更新會員資料<span class="ps-2 text-danger">*Email為登入帳號，不會回存</span></label>
                                </div>
                            }
                        </form>

                        <form id="Form_Memo" class="px-3 mt-4 pt-4 border-top px-sm-5 needs-validation" method="post" novalidate>
                            <div class="row">
                                <div class="form-floating mb-3 col-12">
                                    <textarea id="TextareaRemark" name="remark" class="form-control" placeholder="備註"></textarea>
                                    <label for="TextareaRemark" class="px-4">備　　註</label>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="RecipientForm">
                        <div class="title px-3 py-2 my-3 d-flex align-items-center">
                            <div class="fs-5 text-end">收件人資料</div>
                            <ul class="d-flex flex-wrap text-start mb-0">
                                <li class="form-check mb-0 ms-3">
                                    <input id="radio_recipient_order" class="form-check-input" type="radio" name="RecipientRadio" value="order" checked>
                                    <label class="form-check-label" for="radio_recipient_order">同訂購人資訊</label>
                                </li>
                                <li class="form-check mb-0 ms-3">
                                    <input id="radio_recipient_edit" class="form-check-input" type="radio" name="RecipientRadio" value="edit">
                                    <label class="form-check-label" for="radio_recipient_edit">輸入收件人資料</label>
                                </li>
                                @if (ViewBag.LoginEnable)
                                {
                                    @if (ViewBag.isLogin)
                                    {
                                        <li class="form-check mb-0 ms-3 d-none">
                                            <input id="radio_recipient_choose" class="form-check-input" type="radio" name="RecipientRadio" value="choose" data-bs-toggle="modal" data-bs-target="#RecipientModal">
                                            <label class="form-check-label" for="radio_recipient_choose">選擇收件人</label>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>

                        <div class="default_data d-none">
                            <div class="row">
                                <div class="col-auto col-sm-2 text-end ps-4">姓　　名：</div>
                                <div data-key="recipient" class="col text-start ps-0"></div>
                            </div>
                            <div class="row">
                                <div class="col-auto col-sm-2 text-end ps-4">電子郵件：</div>
                                <div data-key="recipientEmail" class="col text-start ps-0"></div>
                            </div>
                            <div class="row">
                                <div class="col-auto col-sm-2 text-end ps-4">手機號碼：</div>
                                <div data-key="recipientCellPhone" class="col text-start ps-0"></div>
                            </div>
                            <div class="row">
                                <div class="col-auto col-sm-2 text-end ps-4">地　　址：</div>
                                <div data-key="recipientAddress" class="col text-start ps-0"></div>
                            </div>
                        </div>

                        <form id="Form_Recipient" class="px-3 px-sm-5 d-none needs-validation" method="post" novalidate>
                            <input type="hidden" name="authentiity_token" value="@Model.token" />
                            <div class="row mx-0">
                                <div class="form-floating mb-3 col-12 col-sm-6 px-0">
                                    <input id="RecipientInputName" name="recipient" class="recipient_name form-control" type="text" placeholder="請輸入姓名" value="" minlength="2" required>
                                    <label class="required" for="RecipientInputName">姓　　名</label>
                                </div>
                                <div class="gender d-flex align-self-center col-12 col-sm-6 mb-3">
                                    <div class="form-check pe-3">
                                        <input id="RecipientRadioSir" class="form-check-input" type="radio" name="recipientSex" value="1" required>
                                        <label class="form-check-label" for="RecipientRadioSir">男</label>
                                    </div>
                                    <div class="form-check pe-3">
                                        <input id="RecipientRadioMiss" class="form-check-input" type="radio" name="recipientSex" value="2" required>
                                        <label class="form-check-label" for="RecipientRadioMiss">女</label>
                                    </div>
                                    <div class="form-check">
                                        <input id="RecipientRadioElse" class="form-check-input" type="radio" name="recipientSex" value="3" required>
                                        <label class="form-check-label" for="RecipientRadioElse">其他</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating mb-3 col-12 col-sm-6">
                                <input id="RecipientInputMail" name="recipientEmail" class="recipient_mail form-control" type="email" placeholder="請輸入E-mail" value="">
                                <label for="RecipientInputMail">E-mail</label>
                            </div>
                            <div class="form-floating mb-3 col-12 col-sm-6">
                                <input id="RecipientInputCellPhone" name="recipientCellPhone" class="recipient_phone form-control" type="tel" placeholder="請輸入手機號罵" value="" pattern="[0][9]\d{8}" maxlength="10" required>
                                <label class="required" for="RecipientInputCellPhone">手機號碼</label>
                            </div>
                            <div class="row">
                                <div class="form-floating mb-3 col-4 col-sm-2">
                                    <input id="RecipientInputTelPhoneArea" name="zone" class="recipient_areacode form-control" type="tel" placeholder="請輸入區碼" value="" pattern="[0]\d{1,3}" maxlength="4">
                                    <label class="px-4" for="RecipientInputTelPhoneArea">區碼</label>
                                </div>
                                <div class="form-floating mb-3 col-8 col-sm-4 pe-sm-0 ps-0">
                                    <input id="RecipientInputTelPhone" name="recipientTelePhone" class="recipient_cellphone form-control" type="tel" placeholder="請輸入連絡電話" value="" pattern="\d{7}" maxlength="7">
                                    <label for="RecipientInputTelPhone">聯絡電話</label>
                                </div>
                                <div class="form-floating mb-3 col-6 col-sm-3">
                                    <input id="RecipientInputTelPhoneExt" name="ext" class="recipient_extension form-control" type="tel" placeholder="請輸入分機" value="" pattern="\d*">
                                    <label class="px-4" for="RecipientInputTelPhoneExt">分機</label>
                                </div>
                            </div>
                            <div id="Recipient_TWzipcode" class="row">
                                <div class="county form-floating mb-3 col-6 col-sm-3" data-role="county"></div>
                                <div class="district form-floating mb-3 col-6 col-sm-3 pe-sm-0 ps-0" data-role="district"></div>
                                <div class="form-floating mb-3 col-12 col-sm-6">
                                    <input id="RecipientInputAddress" name="recipientAddress" class="orderer_address form-control" type="text" placeholder="請輸入地址" value="" required>
                                    <label class="px-4 required" for="RecipientInputAddress">地址</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    @if (ViewBag.HasInvoice)
                    {
                        <div id="invoiceType">
                            <div class="title px-3 py-2 my-3 d-flex align-items-center">
                                <div class="fs-5 text-end">發票類型　</div>
                                <ul id="radioType" class="d-sm-flex text-start mb-0">
                                    <li class="form-check mb-0 ms-3">
                                        <input id="radio_type_recipient" class="form-check-input" type="radio" name="InvoiceType" value="personal" checked>
                                        <label class="form-check-label" for="radio_type_recipient">個人發票</label>
                                    </li>
                                    <li class="form-check mb-0 ms-3">
                                        <input id="radio_type_company" class="form-check-input" type="radio" name="InvoiceType" value="company">
                                        <label class="form-check-label" for="radio_type_company">公司發票</label>
                                    </li>
                                </ul>
                            </div>
                            @if (ViewBag.Carrier.Count > 0)
                            {
                                <!-- 個人發票 -->
                                <div id="InvoiceInputPersonal" class="invoice-block px-3 px-sm-5 needs-validation">
                                    <div>
                                        <div class="invoice-options mb-2">
                                            <label class="form-check">
                                                <input type="radio" name="PersonalInvoiceMode" class="form-check-input" value="paper" checked>
                                                紙本發票
                                            </label>
                                            @if (ViewBag.Carrier.Contains("MobileCarrier"))
                                            {
                                                <label class="form-check">
                                                    <input type="radio" name="PersonalInvoiceMode" class="form-check-input" value="mobile">
                                                    手機載具
                                                </label>
                                            }
                                        </div>
                                    </div>
                                    @if (ViewBag.Carrier.Contains("MobileCarrier"))
                                    {
                                        <!-- 手機載具 -->
                                        <form id="Form_InvoicePersonalType" class="invoice-block invoice-row px-3 px-sm-5 d-none needs-validation" data-personal="mobile" method="post" novalidate>
                                            <div class="personal-sub">
                                                <div class="invoice-label">手機載具：</div>
                                                <div class="invoice-fields">
                                                    <input class="form-control" type="text" name="MobileCarrier" placeholder="例：/ABCD1234">
                                                </div>
                                            </div>
                                        </form>
                                    }
                                    <!-- 發票另寄（通常不需要額外輸入，寄送選擇會在第三個 block） -->
                                    <div class="invoice-row personal-sub text-muted" data-personal="paper">
                                        <div class="invoice-label"></div>
                                        <div class="invoice-fields">
                                            已選擇「紙本發票」，請於下方選擇發票寄送對象。
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- [Block] 輸入資料：公司發票 -->
                            <form id="Form_Invoice" class="invoice-block px-3 px-sm-5 d-none needs-validation" method="post" novalidate>
                                <input type="hidden" name="authentiity_token" value="@Model.token" />
                                <div class="form-floating mb-3 col-12 col-sm-6">
                                    <input id="InvoiceInputTitle" name="invoiceTitle" class="bill_name form-control" type="text" placeholder="invoice" value="" required>
                                    <label class="required" for="InvoiceInputTitle">發票抬頭</label>
                                </div>
                                <div class="form-floating mb-3 col-12 col-sm-6">
                                    <input id="InvoiceInputUniformId" name="uniformId" class="bill_guinum form-control" type="tel" placeholder="GUINum" value="" pattern="\d{8}" maxlength="8" required>
                                    <label class="required" for="InvoiceInputUniformId">統　　編</label>
                                </div>

                                <div id="Invoice_TWzipcode" class="row">
                                    <div class="county form-floating mb-3 col-6 col-sm-3" data-role="county"></div>
                                    <div class="district form-floating mb-3 col-6 col-sm-3 pe-sm-0 ps-0" data-role="district"></div>
                                    <div class="form-floating mb-3 col-12 col-sm-6">
                                        <input id="InvoiceInputAddress" name="invoiceAddress" class="orderer_address form-control" type="text" placeholder="復興四路" value="">
                                        <label class="px-4" for="InvoiceInputAddress">地址</label>
                                    </div>
                                </div>
                            </form>
                            <!-- [Block] 輸入資料：不開發票 -->
                            <div id="InvoiceInputNone" class="invoice-block px-3 px-sm-5 d-none needs-validation">
                                <div class="invoice-row">
                                    <div class="invoice-label"></div>
                                    <div class="invoice-fields text-muted">
                                        你已選擇「不開發票」。本筆訂單將不提供任何發票（含載具與紙本）。
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="InvoiceForm">
                            <div class="title px-3 py-2 my-3 d-flex align-items-center">
                                <div class="fs-5 text-end">發票寄送　</div>
                                <ul class="d-sm-flex text-start mb-0">
                                    <li class="form-check mb-0 ms-3">
                                        <input id="radio_bill_recipient" class="form-check-input" type="radio" name="InvoiceRadio" value="recipient" checked>
                                        <label class="form-check-label" for="radio_bill_recipient">收件人</label>
                                    </li>
                                    <li class="form-check mb-0 ms-3">
                                        <input id="radio_bill_orderer" class="form-check-input" type="radio" name="InvoiceRadio" value="order">
                                        <label class="form-check-label" for="radio_bill_orderer">訂購人</label>
                                    </li>
                                </ul>

                            </div>

                            <div class="default_data d-none">
                                <div class="row">
                                    <div class="col-auto col-sm-2 text-end ps-4 ps-0">姓　　名：</div>
                                    <div class="name col text-start"></div>
                                </div>
                                <div class="row">
                                    <div class="col-auto col-sm-2 text-end ps-4 ps-0">地　　址：</div>
                                    <div class="address col text-start"></div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="title px-3 py-2 my-3 d-flex align-items-center">
                        <div class="fs-5 text-end">運送方式　</div>
                    </div>

                    <form id="RadioShipping" class="px-4 px-sm-5 mb-3 shipping needs-validation" method="post" novalidate>
                        <input type="hidden" name="authentiity_token" value="@Model.token" />
                        <div class="row gx-0">
                            @if (Model.freightModels.Count > 0)
                            {
                                var has_invalid = false;
                                @foreach (var freight in Model.freightModels ?? new List<FreightDisplayDto>())
                                {
                                    var check = freight.Set_Default ? "checked" : "";
                                    var boxFeesJson = System.Text.Json.JsonSerializer.Serialize(freight.LogisticsBoxFees ?? new List<LogisticsBoxFeeDisplayDto>());

                                    <div class="form-check text-start col-12 col-sm-3 my-2">
                                        <input id="FreeShip_@freight.Id"
                                               class="form-check-input"
                                               type="radio"
                                               name="RadioShipping"
                                               value="@freight.Id"
                                               data-freight-status-type="@freight.FreightStatusType"
                                               data-freight-type="@((int)freight.FreightType)"
                                               data-discount-freight-type="@(freight.DiscountFreightType.HasValue ? ((int)freight.DiscountFreightType.Value).ToString() : "")"
                                               data-freight="@(freight.Freight)"
                                               data-lowcon="@(freight.Low_Con)"
                                               data-disfreight="@(freight.Dis_Freight)"
                                               data-isdefault="@freight.Set_Default"
                                               data-boxfees='@Html.Raw(boxFeesJson)'
                                               data-support-cash-on-delivery="@freight.SupportCashOnDelivery"
                                               @check
                                               required>
                                        <label class="form-check-label" for="FreeShip_@freight.Id">@freight.Title</label>

                                        @if (freight.GetMap)
                                        {
                                            <input type="button"
                                                   class="btn_getmap bg-transparent border-0 ms-1 text-decoration-underline"
                                                   value="選擇門市"
                                                   data-subtype="@freight.LogisticsSubType"
                                                   data-support-cash-on-delivery="@freight.SupportCashOnDelivery"
                                                   title="選擇門市">
                                        }

                                        @{
                                            if (!has_invalid)
                                            {
                                                <div class="invalid-feedback">請選擇運送方式</div>
                                                has_invalid = true;
                                            }
                                        }
                                    </div>

                                    <div class="text-start freight-describe col-12 col-sm-9 my-2">
                                        @freight.Describe
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="noshipping">店家尚未設定運費方式</div>
                            }
                        </div>
                    </form>

                    <form id="ecpayLogisticsForm" method="get" action="/api/ThirdParty/ECPayLogisticsGetMap" class="d-none">
                        <input type="hidden" name="SCIds" />
                        <input type="hidden" name="LogisticsSubType" />
                        <input type="hidden" name="IsCollection" />
                    </form>

                    <div class="priceline priceline-step3 px-3 pe-sm-5 col-12 col-md-7 offset-md-5">
                        <div class="summary-main-row">
                            <div class="summary-label">商品金額</div>
                            <div class="summary-amount dual-price">
                                <span class="bonus-part"><span class="bonus"></span>點</span>
                                <span class="plus-sign">+</span>
                                <span class="cash-part subtotal price"></span>
                            </div>
                        </div>

                        <div class="summary-main-row bonusDiscionLine d-none">
                            <div class="summary-label">紅利折抵</div>
                            <div class="summary-amount bonusDiscion price-negative"></div>
                        </div>

                        <div class="summary-note-row bonusRuleLine d-none">
                            <div class="summary-note-value bonusRedeemRuleText"></div>
                            <div class="summary-note-label"></div>
                        </div>

                        <div class="summary-main-row">
                            <div class="summary-label">
                                <span class="shipping_memo d-none">再購買 <span class="price"></span> 可享運費優惠</span>
                                <span class="shipping_box_memo small text-muted d-none"></span>
                                運費
                            </div>
                            <div class="summary-amount shipping_fee price">0</div>
                        </div>
                        <div class="summary-panel">
                            <div class="summary-main-row bonusUseTotalLine d-none">
                                <div class="summary-label">使用總紅利</div>
                                <div class="summary-amount bonusUseTotalValue"></div>
                            </div>

                            <div class="summary-total-row">
                                <div class="summary-label">小計</div>
                                <div class="summary-amount total_amount price fs-5 fw-bold red_text"></div>
                            </div>
                            
                            <div class="summary-reward-row bonusRedeemHintLine d-none">
                                <div class="summary-reward-box">
                                    <i class="fa-solid fa-gift summary-reward-icon"></i>
                                    <span class="bonusEarnHintText"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="title px-3 py-2 my-3 d-flex align-items-center">
                        <div class="fs-5 text-end">付款方式　</div>
                        @if (Model.paymentModels.Find(e => e.Code == "ECPay") != null)
                        {
                            <div class="ecpayWarning text-danger px-5">請先完整填寫資料，才能選擇付款方式</div>
                        }
                    </div>
                    @* <form id="RadioPayment" class="px-4 px-sm-5 text-start border-bottom mb-4 pb-4 needs-validation" method="post" novalidate> *@
                    <form id="RadioPayment" class="px-4 px-sm-5 text-start border-bottom mb-4 pb-4">
                        <input type="hidden" name="authentiity_token" value="@Model.token" />
                        @if (Model.paymentModels.Count > 0)
                        {
                            var has_invalid = false;
                            @if (Model.paymentModels.Count == 1 && Model.paymentModels.Find(e => e.Code == "ECPay") != null)
                            {
                                <div class="ecpay_loading text-start col-12 col-sm-3 my-2 py-2 d-none">支付方式載入中......</div>
                                <div id="ECPayPayment" data-server-type="@(ViewBag.IsProduction ? "Prod" : "Stage")"></div>
                            }
                            else
                            {
                                @foreach (var payment in Model.paymentModels ?? new List<PaymentTypeItemOutputDto>())
                                {
                                    <div class="form-check text-start m-0 p-0">
                                        <input id="radio_payment_@payment.Code" class="form-check-input d-none" type="radio" name="RadioPayment" data-maxamount="@payment.MaxAmount" data-minamount="@payment.MinAmount" value="@payment.Id" data-third-party-id="@payment.FK_ThirdPartyId" required data-title="@payment.Title">
                                        <div id="payment_@payment.Code" class="payment_display d-flex justify-content-between" data-radioid="radio_payment_@payment.Code">
                                            <div class="d-flex align-items-center">
                                                <span class="paymentradio d-block"></span>
                                                <div class="paymenttitle">@payment.Title</div>
                                            </div>
                                            @if (payment.Icon != "")
                                            {
                                                <img class="paymenticon px-1" src="@payment.Icon" alt="@payment.Title">
                                            }
                                        </div>
                                    </div>
                                }
                                @if (Model.paymentModels.Find(e => e.Code == "ECPay") != null)
                                {
                                    <div class="ecpay_loading text-start col-12 col-sm-3 my-2 py-2 d-none">其餘支付方式載入中......</div>
                                    <div id="ECPayPayment" data-server-type="@(ViewBag.IsProduction ? "Prod" : "Stage")"></div>
                                }
                            }
                        }
                        else
                        {
                            <div class="nopayment">店家尚未設定付款方式</div>
                        }
                    </form>

                    <div class="swiper_button mt-4 my-sm-5 row align-items-center justify-content-center">
                        <button class="btn_gray_underline btn_goprev col-auto order-1 order-sm-0 border-0 text-center text-decoration-underline bg-transparent p-2">
                            回上一步
                        </button>

                        <div class="col-12 col-sm-auto order-0 order-sm-1">
                            <button class="btn_checkout border-0 px-4 py-2 mx-3 rounded-3 text-center text-white">
                                <div class="fs-2 fw-bold">確認結帳</div>
                                <div>進入付款程序</div>
                            </button>
                        </div>

                        <a class="btn_backshop btn_gray_underline btn_gray_dark col-auto order-2 border-0 text-center text-decoration-underline bg-transparent p-2" href="@ViewData["prodCatalog"]" title="繼續購物：回商品目錄">我要再選購</a>
                    </div>
                </div>
            </div>

            <div id="Step4" class="card swiper-slide">
                <div class="card-header px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="fs-5 my-2">購物明細</div>
                    <div class="order_number fs-5 fw-bold"></div>
                </div>

                <div class="card-body px-0">
                    <div class="pruchase_content">
                        <div class="status_alert fs-3 fw-bold mt-4 text-center"></div>
                        <div class="thirdpay_link d-flex justify-content-center d-none">若未跳轉，請 [<span><a href="" title="連結至：第三方支付(開新視窗)" target="_blank" rel="noopener noreferrer" class="text-decoration-underline fw-bold">手動前往</a></span>] (連結僅十分鐘內有效)</div>
                        <div class="order_time pe-5 text-end">訂單成立時間：</div>
                        @if (!ViewBag.isLogin)
                        {
                            <div class="buyagain_text fs-5 text-center d-none">請主動聯繫客服人員，或<span class="px-1 text-decoration-underline">點擊此處</span>重新下訂。</div>
                        }

                        <ul id="Purchase" class="purchase_list px-5 mb-0"></ul>

                        <ul id="CollapsePurchase" class="purchase_list pb-4 px-5 collapse"></ul>

                        <template id="Template_Purchase_Details">
                            <li class="purchase_item row border-bottom py-2 align-items-lg-center position-relative">
                                <div class="image col-lg-6 col-sm-2 col-4 row gx-0">
                                    <a data-key="link" class="pro_link col-lg-2 col-12" href="" title="連結至：商品" target="_blank" rel="noopener noreferrer">
                                        <img data-key="imagePath" class="pro_image img-fluid" alt="商品" src="">
                                    </a>
                                    <a data-key="link" class="pro_link col text-start overflow-hidden" href="" title="連結至：商品" target="_blank" rel="noopener noreferrer">
                                        <div class="content d-lg-block d-none">
                                            <div data-key="title" class="pro_name single_line fw-bold"></div>
                                            <div class="pro_detail d-flex flex-wrap">
                                                <div data-key="spec" class="pro_specification pe-3"></div>
                                                @* <div data-key="describe" class="pro_instructions single_line"></div> *@
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="content col-sm-6 col row gx-0 overflow-hidden">
                                    <a data-key="link" class="pro_link" href="" title="連結至：商品" target="_blank" rel="noopener noreferrer">
                                        <div class="d-lg-none d-block text-start">
                                            <div data-key="title" class="pro_name single_line fw-bold"></div>
                                            <div class="pro_detail d-flex flex-wrap">
                                                <div data-key="spec" class="pro_specification pe-3"></div>
                                                <div data-key="describe" class="pro_instructions single_line"></div>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="col-12 col-lg-4 my-3 my-lg-0 fs-5 align-self-center text-start text-lg-center">
                                        <div data-key="price" class="pro_unit"></div>
                                        <div data-key="bonus" class="pro_bonus"></div>
                                    </div>

                                    <div data-key="quantity" class="pro_quantity col-12 col-lg-4 fs-5 d-flex justify-content-start justify-content-lg-center"></div>

                                    <div class="pro_subtotal col-4 fw-bold fs-5 d-lg-block d-none text-center">
                                        <div data-key="subtotal" data-subtotal=""></div>
                                        <div data-key="subtotalBonus"></div>
                                    </div>
                                </div>
                            </li>
                        </template>

                        <div class="d-flex justify-content-center">
                            <button class="btn_view_list border-0 rounded-pill fs-5 px-5 py-2 d-none" type="button" data-bs-toggle="collapse" data-bs-target="#CollapsePurchase" aria-expanded="false" aria-controls="CollapsePurchase">
                                查看購物清單
                            </button>
                        </div>

                        <div class="mt-3 endline px-3 pe-sm-5 col-12 col-md-6 offset-md-6">
                            <div class="py-2 d-flex justify-content-end text-end">
                                <div>商品金額</div>
                                <div data-key="productSubtotal" class="subtotal col-4 price">0</div>
                            </div>

                            <div class="py-2 d-flex justify-content-end text-end productBonusLine d-none">
                                <div>商品紅利</div>
                                <div data-key="productBonus" class="productBonusValue col-4">0 點</div>
                            </div>

                            <div class="py-2 d-flex justify-content-end text-end bonusDiscionLine d-none">
                                <div class="summary-label">紅利折抵</div>
                                <div data-key="redeemBonus" class="bonusDiscion col-4 price-negative">0 點</div>
                            </div>

                            <div class="py-2 d-flex justify-content-end text-end">
                                <div>運費</div>
                                <div data-key="freight" class="shipping_fee col-4 price">0</div>
                            </div>

                            <div class="py-2 d-flex justify-content-end text-end bonusUseTotalLine d-none">
                                <div>本次消費總紅利</div>
                                <div data-key="bonus" class="bonusUseTotalValue col-4">0 點</div>
                            </div>

                            <div class="py-2 border-top d-flex justify-content-end text-end align-items-baseline">
                                <div>本次消費總金額</div>
                                <div data-key="total" class="total_amount col-4 price fs-5 fw-bold">0</div>
                            </div>
                        </div>

                    </div>

                    <div class="orderer_data">
                        <div class="title px-3 py-2 my-3 d-flex align-items-center fs-5 text-end">訂購人資料</div>

                        <div class="content">
                            <div class="row">
                                <div class="col-auto col-sm-2 text-end ps-4">姓　　名：</div>
                                <div data-key="orderer" data-type="name" class="col text-start ps-0"></div>
                            </div>
                            <div class="row">
                                <div class="col-auto col-sm-2 text-end ps-4">電子郵件：</div>
                                <div data-key="ordererEmail" data-type="email" class="col text-start ps-0"></div>
                            </div>
                            <div class="row">
                                <div class="col-auto col-sm-2 text-end ps-4">手機號碼：</div>
                                <div data-key="ordererCellPhone" data-type="phone" class="col text-start ps-0"></div>
                            </div>
                        </div>
                    </div>

                    <div class="recipient_data">
                        <div class="title px-3 py-2 my-3 d-flex align-items-center fs-5">收件人資料</div>

                        <div class="content">
                            <div class="row">
                                <div class="col-auto col-sm-2 text-end ps-4">姓　　名：</div>
                                <div data-key="recipient" data-type="name" class="col text-start ps-0"></div>
                            </div>
                            <div class="row">
                                <div class="col-auto col-sm-2 text-end ps-4">電子郵件：</div>
                                <div data-key="recipientEmail" data-type="email" class="col text-start ps-0"></div>
                            </div>
                            <div class="row">
                                <div class="col-auto col-sm-2 text-end ps-4">手機號碼：</div>
                                <div data-key="recipientCellPhone" data-type="phone" class="col text-start ps-0"></div>
                            </div>
                            <div class="row">
                                <div class="col-auto col-sm-2 text-end ps-4">地　　址：</div>
                                <div data-key="recipientAddress" data-type="address" class="col text-start ps-0"></div>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.HasInvoice)
                    {
                        <div class="invoice_type" data-carrier-count="@ViewBag.Carrier.Count">
                            <div class="title px-3 py-2 my-3 d-flex align-items-center fs-5">發票類型：<span class="fs-6" data-key="InvoiceTypeTitle"></span></div>
                            <div class="content">
                                <div class="person d-none">
                                    <div class="row">
                                        <div class="col-auto col-sm-2 text-end ps-4">型  別：</div>
                                        <div data-key="personalInvoiceTypeTitle" class="col text-start ps-0"></div>
                                    </div>
                                    @if (ViewBag.Carrier.Contains("MobileCarrier"))
                                    {
                                        <div class="mobileCarrier d-none">
                                            <div class="row">
                                                <div class="col-auto col-sm-2 text-end ps-4">手機條碼：</div>
                                                <div data-key="carrier" class="col text-start ps-0"></div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="company d-none">
                                    <div class="row">
                                        <div class="col-auto col-sm-2 text-end ps-4">發票抬頭：</div>
                                        <div data-key="invoiceTitle" class="col text-start ps-0"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-auto col-sm-2 text-end ps-4">統　　編：</div>
                                        <div data-key="uniformId" class="col text-start ps-0"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-auto col-sm-2 text-end ps-4">地　　址：</div>
                                        <div data-key="invoiceAddress" class="col text-start ps-0"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice_data">
                            <div class="title px-3 py-2 my-3 d-flex align-items-center fs-5">發票寄送</div>

                            <div class="content">
                                <div class="orderer d-none">
                                    <div class="row">
                                        <div class="col-auto col-sm-2 text-end ps-4">姓　　名：</div>
                                        <div data-key="orderer" data-type="name" class="col text-start ps-0"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-auto col-sm-2 text-end ps-4">電子郵件：</div>
                                        <div data-key="ordererEmail" data-type="email" class="col text-start ps-0"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-auto col-sm-2 text-end ps-4">手機號碼：</div>
                                        <div data-key="ordererCellPhone" data-type="phone" class="col text-start ps-0"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-auto col-sm-2 text-end ps-4">地　　址：</div>
                                        <div data-key="ordererAddress" data-type="address" class="col text-start ps-0"></div>
                                    </div>
                                </div>
                                <div class="recipient d-none">
                                    <div class="row">
                                        <div class="col-auto col-sm-2 text-end ps-4">姓　　名：</div>
                                        <div data-key="recipient" data-type="name" class="col text-start ps-0"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-auto col-sm-2 text-end ps-4">電子郵件：</div>
                                        <div data-key="recipientEmail" data-type="email" class="col text-start ps-0"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-auto col-sm-2 text-end ps-4">手機號碼：</div>
                                        <div data-key="recipientCellPhone" data-type="phone" class="col text-start ps-0"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-auto col-sm-2 text-end ps-4">地　　址：</div>
                                        <div data-key="recipientAddress" data-type="address" class="col text-start ps-0"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div id="PaymentData">
                        <div class="storememo d-none">@ViewData["storeMemo"]</div>
                        <div class="title px-3 py-2 my-3 d-flex align-items-center">
                            <div class="fs-5">付款方式</div>
                            <div data-key="payment" class="payment_method px-3 fs-5">尚未選擇付款方式</div>
                        </div>

                        <div class="pay_info px-4 d-none">
                            <p>繳費完成後，請利用Email主動與客服聯絡。告知您姓名、轉帳帳戶末五碼，或是相關匯款資訊，以利核對您的款項。</p>
                            <div class="border-bottom border-top text-start py-3 my-3">
                                <div class="mb-2 row align-items-center">
                                    <div class="col-auto col-sm-2 text-end">應繳金額新台幣：</div>
                                    <div class="col ps-0">新台幣<span class="total_amount paid_amount fs-5 fw-bold"></span></div>
                                </div>
                                <div class="mb-2 row align-items-center">
                                    <div class="col-auto col-sm-2 text-end">繳費期限：</div>
                                    <div class="paid_date col ps-0"></div>
                                </div>
                            </div>
                        </div>
                        <p class="pay_mail px-4"></p>
                        <div class="btn_back_home d-flex justify-content-center my-4">
                            <a href="/@ViewData["OrgName"]/home">
                                <div class="fs-5 fw-bold px-3 py-1 rounded text-white">回首頁</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper_pagination container position-absolute position-relative">
        <div class="centerline position-absolute container"><hr class="opacity-100" /></div>

        <div class="swiper_pagination_buystep position-absolute"></div>

        <div class="step_name position-absolute container d-flex text-center justify-content-between p-0">
            <div class="">購物車</div>
            <div class="">填寫資料</div>
            <div class="">完成訂購</div>
        </div>
    </div>
</div>


<script src="@(ViewBag.IsProduction
                            ? "https://ecpg.ecpay.com.tw/Scripts/sdk-1.0.0.js?t=20210121100116"
                            : "https://ecpg-stage.ecpay.com.tw/Scripts/sdk-1.0.0.js?t=20210121100116")"></script>