@using EtheriT.Coker.Web.Public.Views.Shared.Components.Footer
@using EtheriT.Coker.Web.Public.Views.Shared.Components.Header
@using EtheriT.Coker.Web.Public.Views.Shared.Components.LayoutType
@using EtheriT.Coker.Web.Public.Views.Shared.Components.SideFloating

<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["PageTagNameName"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fortawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css" />
    @await Component.InvokeAsync(nameof(LayoutType))
    <link rel="stylesheet" href="~/EtheriT.Coker.Web.Public.styles.css" asp-append-version="true" />

    <meta name="author" content="易碩網際科技股份有限公司" />
    <meta name="copyright" content="易碩網際科技股份有限公司" />
    <meta name="description" content="@ViewData["Description"]">
    <meta itemprop="name" content="@ViewData["PageName"]｜@ViewData["SideName"]" />
    <meta itemprop="description" content="@ViewData["Description"]" />
    <meta name="twitter:title" content="@ViewData["PageName"]｜@ViewData["SideName"]" />
    <meta name="twitter:description" content="@ViewData["Description"]" />
    <meta property="og:title" content="@ViewData["PageName"]｜@ViewData["SideName"]" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@ViewData["CurrentUrl"]" />
    <meta property="og:site_name" content="@ViewData["SideName"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:locale" content="zh-tw" />
    <style id="frameCss"></style>
    @if (ViewData["GA4"] != null && !string.IsNullOrEmpty(ViewData["GA4"].ToString() ?? ""))
    {
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=@ViewData["GA4"]"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', "@ViewData["GA4"]");
        </script>
    }
</head>
<body onload="ready()" id="@ViewData["Layout"]">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <a id="jumpToCenter" href="#ContainerBody" class="hide accesskey" title="跳到主要內容區塊">
        <span title="跳到主要內容區塊">跳到主要內容區塊</span>
    </a>
    @{
        if (ViewData["VisibleHeader"]==null)
        {
            ViewData["VisibleHeader"] = "true";
        }
        if (ViewData["VisibleFooter"]==null)
        {
            ViewData["VisibleFooter"] = "true";
        }
        string VisibleHeader = bool.Parse((ViewData["VisibleHeader"] ?? "true").ToString() ?? "true")?"":"d-none";
        string VisibleFooter = bool.Parse((ViewData["VisibleFooter"] ?? "true").ToString() ?? "true") ? "" : "d-none";

    }
    <header class="@VisibleHeader">
        @await Component.InvokeAsync(nameof(Header))
    </header>
    <noscript>
        <p id="noscript">
            <span>你的瀏覽器並未啟動 Javascript!</span><br />
            請啟動瀏覽器的 JavaScript 或是升級成可執行 JavaScript 的瀏覽器，以便正常使用網頁功能。
        </p>
    </noscript>
    <div id="ContainerBody">
        <a accesskey="C" href="javascript:void(0)" class="hide accesskey" title="中間區域">:::</a>
        @RenderBody()
    </div>
    <footer class="footer_pack_up @VisibleFooter">
        @await Component.InvokeAsync(nameof(Footer))
    </footer>
    <div id="LoginModal" class="modal fade" aria-hidden="true" aria-labelledby="LoginModalLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered justify-content-center">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <button type="button" class="btn-close rounded-circle" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center fs-4 fw-bold">會員登入</div>
                    <form id="LoginForm" class="card-body needs-validation" method="post">
                        <input type="hidden" name="authentiity_token" value="@ViewData["XSRF-TOKEN"]" />
                        <div class="login_mail input-group mb-3">
                            <div class="position-absolute ps-3 top-50 d-flex translate-middle-y fs-4">
                                <span class="material-symbols-outlined text-black-50">mail</span>
                            </div>
                            <input id="InputLoginMail" class="input_bg form-control rounded border-0 py-3" type="email" aria-label="Input Login Mail" placeholder="信箱" required>
                        </div>
                        <div class="login_pass input-group mb-3">
                            <div class="position-absolute ps-3 top-50 d-flex translate-middle-y fs-4">
                                <span class="material-symbols-outlined text-black-50">lock</span>
                            </div>
                            <input id="InputLoginPass" class="input_bg form-control rounded border-0 py-3" type="password" aria-label="Input Login Password" placeholder="密碼" required>
                        </div>
                        <div class="login_vcode input-group">
                            <input id="InputLoginVCode" class="input_bg form-control rounded border-0 py-3 ps-3" type="text" aria-label="Input Login Verification Code" placeholder="輸入驗證碼" maxlength="4" required>
                            <div class="position-absolute d-flex ps-2 me-2 top-50 end-0 translate-middle-y z-index-up ">
                                <img id="LoginImgCaptcha" alt="驗證碼" class="img-fluid" src="" />
                            </div>
                        </div>
                        <button class="btn_refresh border-0 bg-transparent text-end w-100 text-black-50">刷新驗證碼</button>
                        <div class="form-check">
                            <input id="CheckRemember" class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="CheckRemember">記住我的帳號</label>
                        </div>
                    </form>
                    <button class="btn_login w-100 rounded border-0 text-white py-2 fs-5 my-3">登　入</button>
                    <div class="border-bottom pb-1 text-black-50 text-center">其他登入方式</div>
                </div>
                <div class="modal-footer d-flex justify-content-center border-0">
                    <div class="text-black-50">不是會員？</div>
                    <button class="bg-transparent border-0 text-decoration-underline text-black-50" data-bs-target="#RegisterModal" data-bs-toggle="modal" data-bs-dismiss="modal">立即註冊</button>
                    <button class="bg-transparent border-0 text-decoration-underline text-black-50" data-bs-target="#ForgetModal" data-bs-toggle="modal" data-bs-dismiss="modal">忘記密碼</button>
                </div>
            </div>
        </div>
    </div>
    @if (ViewData["LoginEnable"]!=null && bool.Parse(ViewData["LoginEnable"].ToString()) == true)
    {
        <div id="RegisterModal" class="modal fade" aria-hidden="true" aria-labelledby="RegisterModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered justify-content-center">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <button type="button" class="btn-close rounded-circle" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center fs-4 fw-bold">加入會員</div>
                    <form id="RegisterForm" class="card-body needs-validation" method="post">
                        <input type="hidden" name="authentiity_token" value="@ViewData["XSRF-TOKEN"]" />
                        <div class="register_mail input-group mb-3">
                            <div class="position-absolute ps-3 top-50 d-flex translate-middle-y fs-4">
                                <span class="material-symbols-outlined text-black-50">mail</span>
                            </div>
                            <input id="InputRegisterMail" class="input_bg form-control rounded border-0 py-3" type="email" aria-label="Input Register Mail" placeholder="信箱" required>
                        </div>
                        <div class="register_name input-group">
                            <div class="position-absolute ps-3 top-50 d-flex translate-middle-y fs-4">
                                <span class="material-symbols-outlined text-black-50">account_circle</span>
                            </div>
                            <input id="InputRegisterName" class="input_bg form-control rounded border-0 py-3" type="text" aria-label="Input Register Name" placeholder="姓名/名稱" required>
                        </div>
                    </form>
                    <div class="px-3">
                        <div class="register_new_pass input-group">
                            <div class="position-absolute ps-3 top-50 d-flex translate-middle-y fs-4">
                                <span class="material-symbols-outlined text-black-50">lock</span>
                            </div>
                            <input id="InputRegisterNewPass" class="input_bg form-control rounded border-0 py-3" type="text" aria-label="Input Register New Password" placeholder="密碼" required>
                        </div>
                        <div id="NewPassFeedBack" class="lh-1 text-danger pt-1">　</div>
                        <div class="register_check_pass input-group">
                            <div class="position-absolute ps-3 top-50 d-flex translate-middle-y fs-4">
                                <span class="material-symbols-outlined text-black-50">lock</span>
                            </div>
                            <input id="InputRegisterCheckPass" class="input_bg form-control rounded border-0 py-3" type="text" aria-label="Input Register Check Password" placeholder="確認密碼" required>
                        </div>
                        <div id="CheckPassFeedBack" class="lh-1 text-danger pt-1">　</div>
                        <div class="register_vcode input-group">
                            <input id="InputRegisterVCode" class="input_bg form-control rounded border-0 py-3 ps-3" type="text" aria-label="Input Register Verification Code" placeholder="輸入驗證碼" maxlength="4" required>
                            <div class="position-absolute d-flex ps-2 me-2 top-50 end-0 translate-middle-y z-index-up ">
                                <img id="RegisterImgCaptcha" alt="驗證碼" class="img-fluid" src="" />
                            </div>
                        </div>
                        <button class="btn_refresh border-0 bg-transparent text-end w-100 text-black-50">刷新驗證碼</button>
                        <div class="form-check">
                            <input id="CheckAccept" class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="CheckAccept">我已詳細閱讀並同意<span><a class="text-black text-decoration-underline" href="/@ViewData["OrgName"]/Terms">會員條款</a></span></label>
                        </div>
                    </div>
                    <button class="btn_register w-100 rounded border-0 text-white py-2 fs-5 my-3">註　冊</button>
                </div>
            </div>
        </div>
    </div>
    }
    <div id="videoModal" tabindex="-1" aria-labelledby="videoModal" aria-hidden="true" class="modal fade">
        <div class="modal-dialog modal-xl modal-dialog-centered h-75">
            <div class="modal-content bg-black h-100">
                <div class="modal-header">
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close rounded-circle bg-light"></button>
                </div>
                <div class="modal-body h-100 text-white text-center m-5">
                    <i class="fa fa-duotone fa-spinner fa-spin-pulse fa-10x"></i>
                    <div class="fa-3x massage d-none">影片連結設定錯誤</div>
                </div>
            </div>
        </div>
    </div>
    <div id="SwiperModal" tabindex="-1" aria-labelledby="videoModal" aria-hidden="true" class="modal fade">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-fullscreen">
            <div class="modal-content bg-black h-100">
                <div class="modal-header">
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close rounded-circle bg-light"></button>
                </div>
                <div class="modal-body">
                    <div id="pictureSwiper" class="swiper">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-wrapper"></div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div id="pictureSwiperThumbs" thumbsSlider="" class="swiper">
                        <div class="swiper-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        @await Component.InvokeAsync(nameof(SideFloating))
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/Shared/c-share.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/lib/jquery-twzipcode/jquery.twzipcode.min.js"></script>
    <script src="~/lib/masonry-layout/dist/masonry.pkgd.min.js"></script>
    <script>
        window.CI360 = { notInitOnLoad: true }
    </script>
    <script src="~/lib/jscloudimage360/js-cloudimage-360-view.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>