@using EtheriT.Coker.Web.Public.Views.Shared.Components.Footer
@using EtheriT.Coker.Web.Public.Views.Shared.Components.Header
@using EtheriT.Coker.Web.Public.Views.Shared.Components.LayoutType
@using EtheriT.Coker.Web.Public.Views.Shared.Components.SideFloating
@using EtheriT.Coker.Application.Shared.i18n;
@using System.Web;
@{
    var nonce = ViewContext.HttpContext.Items["CSPNonce"] as string;
    ViewBag.Nonce = nonce;
}
<!DOCTYPE html>
<html lang="@ViewData["Locale"]">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["PageTagNameName"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fortawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/Shared/shared.min.css" asp-append-version="true" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon"  asp-append-version="true" />
    @switch (ViewData["PageView"])
    {
        case "Article":
            <link rel="canonical" href="@($"{ViewData["Root"]}/{ViewData["OrgName"]}/search/article/{ViewData["Id"]}")" />
            break;
        case "Product":
            <link rel="canonical" href="@($"{ViewData["Root"]}/{ViewData["OrgName"]}/search/product/{ViewData["Id"]}")" />
            break;
        case "Techcert":
            <link rel="canonical" href="@($"{ViewData["Root"]}/{ViewData["OrgName"]}/search/techcert/{ViewData["Id"]}")" />
            break;
        default:
            <link rel="canonical" href="@($"{ViewData["Root"]}/{ViewData["OrgName"]}{ViewData["CurrentUrl"]}")" />
            break;
    }
    @await Component.InvokeAsync(nameof(LayoutType))

    <meta name="author" content="易碩網際科技股份有限公司" />
    <meta name="copyright" content="易碩網際科技股份有限公司" />
    <meta name="description" content="@Html.Raw(ViewData["Description"])">
    <meta itemprop="name" content="@Html.Raw(ViewData["PageTagNameName"])" />
    <meta itemprop="description" content="@Html.Raw(ViewData["Description"])" />
    <meta name="twitter:title" content="@Html.Raw(ViewData["PageTagNameName"])" />
    <meta name="twitter:description" content="@Html.Raw(ViewData["Description"])" />
    <meta property="og:title" content="@Html.Raw(ViewData["PageTagNameName"])" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@ViewData["CurrentUrl"]" />
    <meta property="og:site_name" content="@Html.Raw(ViewData["SideName"])" />
    <meta property="og:description" content="@Html.Raw(ViewData["Description"])" />
    <meta property="og:locale" content="zh-tw" />
    <meta name="csp-nonce" content="@Html.Raw(ViewBag.Nonce)" />
    <style nonce="@ViewBag.Nonce">
        :root {
            --orgName: @ViewData["OrgName"];
        }
    </style>
    <style id="frameCss" nonce="@ViewBag.Nonce">
        @Html.Raw(HttpUtility.HtmlDecode(ViewBag.Css))
    </style>
    @inject Microsoft.Extensions.Configuration.IConfiguration Configuration
    @if (Configuration.GetValue<bool>("RemoteJs:Enabled", false))
    {
        <script data-consolejs-channel="c54af59e-d006-5fa6-30d5-e2b3f272a9fc" src="https://remotejs.com/agent/agent.js"></script>
    }
    <script nonce="@ViewBag.Nonce">
        sessionStorage.setItem("PageKey","@ViewBag.PageKey");
        window.CI360 = { notInitOnLoad: true }
        window.onload = function () {
            ready();
        }
        const originalAppendChild = Element.prototype.appendChild;
        const originalInsertBefore = Node.prototype.insertBefore;
        const nonce = document.querySelector('meta[name="csp-nonce"]').getAttribute('content');

        // 覆寫 appendChild 方法
        Element.prototype.appendChild = function (child) {
            // child 是否為 undefined
            if (child) {
                // 檢查是否為 <script> 或 <style> 元素
                if (child.tagName && (child.tagName === 'SCRIPT' || child.tagName === 'STYLE')) {
                    // 為元素添加 nonce 屬性
                    child.setAttribute('nonce', nonce);
                }

                // 調用原始的 appendChild 方法
                return originalAppendChild.call(this, child);
            }
        };

        // 覆寫 insertBefore 方法
        Node.prototype.insertBefore = function (newNode, referenceNode) {
            // 檢查插入的節點是否為 script 或 style
            if (newNode.tagName === 'SCRIPT' || newNode.tagName === 'STYLE') {
                // 添加 nonce 屬性
                newNode.setAttribute('nonce', nonce);
            }

            // 調用原始的 insertBefore 方法
            return originalInsertBefore.call(this, newNode, referenceNode);
        };
    </script>
    @if (ViewData["GA4"] != null && !string.IsNullOrEmpty(ViewData["GA4"].ToString() ?? ""))
    {
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=@ViewData["GA4"]"></script>
        <script nonce="@ViewBag.Nonce">
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', "@ViewData["GA4"]");
        </script>
    }
    @if (ViewData["google.translate"] != null && !string.IsNullOrEmpty(ViewData["google.translate"]!.ToString() ?? ""))
    {
        <script nonce="@ViewBag.Nonce">
            let isGoogleTranslateInitialized = false;

            function googleTranslateElementInit() {
                if (isGoogleTranslateInitialized) {
                    console.log("Google Translate is already initialized.");
                    return;
                }
                try {
                    if (typeof google !== "undefined" && typeof google.translate !== "undefined" && google.translate.TranslateElement) {
                        new google.translate.TranslateElement({
                            pageLanguage: 'zh-TW',
                            includedLanguages: '@ViewData["google.translate"]',
                            gaTrack: true
                        }, 'google_translate_element');

                        $('select.goog-te-combo').attr('title', 'translate');
                        isGoogleTranslateInitialized = true;
                    } else {
                        console.warn("Google Translate API is not ready yet. Retrying...");
                        setTimeout(googleTranslateElementInit, 1000); // 每秒重試一次
                    }
                } catch (error) {
                    console.error("Failed to initialize Google Translate:", error);
                }
            }

            // 動態加載 Google Translate 腳本
            function loadGoogleTranslateScript() {
                const script = document.createElement("script");
                script.src = "https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit";
                script.async = true;
                script.defer = true;

                script.onload = () => {
                    console.log("Google Translate script loaded successfully.");
                };

                script.onerror = () => {
                    console.error("Failed to load Google Translate script.");
                };

                document.head.appendChild(script);
            }

            // 加載 Google Translate 腳本並初始化
            loadGoogleTranslateScript();
        </script>
    }
    @if (ViewData["GTM"] != null && !string.IsNullOrEmpty(ViewData["GTM"].ToString() ?? ""))
    {
        <!-- Google Tag Manager -->
        <script nonce="@ViewBag.Nonce">
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', '@ViewData["GTM"]');</script>
        <!-- End Google Tag Manager -->
    }
</head>
<body id="@ViewData["Layout"]" class="@ViewData["bodyClass"]">
    @if (ViewData["GTM"] != null && !string.IsNullOrEmpty(ViewData["GTM"].ToString() ?? ""))
    {
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe class="gtmIframe" src="https://www.googletagmanager.com/ns.html?id=@ViewData["GTM"]" height="0" width="0"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    }
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <a id="jumpToCenter" href="#ContainerBody" class="hide accesskey" title="@L.get("accesskeyJumpMain")">
        <span title="@L.get("accesskeyJumpMain")">@L.get("accesskeyJumpMain")</span>
    </a>
    @{
        if (ViewData["VisibleHeader"] == null)
        {
            ViewData["VisibleHeader"] = "true";
        }
        if (ViewData["VisibleFooter"] == null)
        {
            ViewData["VisibleFooter"] = "true";
        }
        string VisibleHeader = bool.Parse((ViewData["VisibleHeader"] ?? "true").ToString() ?? "true") ? "" : "d-none";
        string VisibleFooter = bool.Parse((ViewData["VisibleFooter"] ?? "true").ToString() ?? "true") ? "" : "d-none";

    }
    <header class="@VisibleHeader">
        @await Component.InvokeAsync(nameof(Header))
    </header>
    <noscript>
        <p id="noscript">
            <span>@L.get("noJavascript")</span><br />
            @L.get("noJavascriptMemo")
        </p>
    </noscript>
    <div id="ContainerBody">
        <a accesskey="C" href="javascript:void(0)" class="hide accesskey" title="@L.get("accesskeyCenter")">:::</a>
        @RenderBody()
    </div>
    <footer class="footer_pack_up @VisibleFooter">
        @await Component.InvokeAsync(nameof(Footer))
    </footer>
    @if (ViewBag.LoginEnable != null && ViewBag.LoginEnable)
    {
        <div id="LoginModal" class="modal fade" aria-hidden="true" aria-labelledby="LoginModalLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered justify-content-center">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close rounded-circle" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center fs-4 fw-bold">會員登入</div>
                        <form id="LoginForm" class="card-body needs-validation" method="post">
                            <input type="hidden" name="authentiity_token" value="@ViewData["XSRF-TOKEN"]" />
                            <div class="login_mail input-group mb-3">
                                <div class="position-absolute ps-3 top-50 d-flex translate-middle-y fs-4">
                                    <span class="material-symbols-outlined text-black-50">mail</span>
                                </div>
                                <input id="InputLoginMail" class="input_bg form-control rounded border-0 py-3" type="email" aria-label="Input Login Mail" placeholder="信箱" required name="Email">
                            </div>
                            <div class="login_pass input-group mb-3">
                                <div class="position-absolute ps-3 top-50 d-flex translate-middle-y fs-4">
                                    <span class="material-symbols-outlined text-black-50">lock</span>
                                </div>
                                <input id="InputLoginPass" class="input_bg form-control rounded border-0 py-3 pass" type="password" autocomplete="off" aria-label="Input Login Password" placeholder="密碼" required name="Password">
                                <div class="position-absolute pe-3 end-0 top-50 d-flex translate-middle-y fs-4">
                                    <button class="btn_passtoggle material-symbols-outlined text-black-50 bg-transparent border-0 px-0" title="顯示密碼">visibility_off</button>
                                </div>
                            </div>
                            <div class="login_vcode input-group">
                                <input id="InputLoginVCode" class="input_bg form-control rounded border-0 py-3 ps-3" type="text" aria-label="Input Login Verification Code" placeholder="輸入驗證碼" maxlength="4" autocomplete="off" required>
                                <div class="position-absolute d-flex ps-2 me-2 top-50 end-0 translate-middle-y z-index-up ">
                                    <img id="LoginImgCaptcha" alt="驗證碼" class="img-fluid" src="" />
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button class="border-0 bg-transparent text-black-50" type="button" data-bs-toggle="modal" data-bs-target="#PrivacyStatementModal"> 隱私聲明 </button>
                                <button class="btn_refresh border-0 bg-transparent text-black-50">刷新驗證碼</button>
                            </div>
                            <div class="form-check">
                                <input id="CheckRemember" class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label" for="CheckRemember">記住我的帳號</label>
                            </div>
                        </form>
                        <button class="btn_login w-100 rounded border-0 text-white py-2 fs-5 my-3">登　入</button>
                        @* <button class="btn_other_login w-100 rounded border-0 text-white py-2 fs-5 " data-bs-target="#OtherLoginModal" data-bs-toggle="modal" data-bs-dismiss="modal">其他登入方式</button> *@
                    </div>
                    <div class="modal-footer d-flex justify-content-center border-0">
                        <div class="text-black-50">不是會員？</div>
                        <button class="bg-transparent border-0 text-decoration-underline text-black-50" data-bs-target="#RegisterModal" data-bs-toggle="modal" data-bs-dismiss="modal">立即註冊</button>
                        <button class="bg-transparent border-0 text-decoration-underline text-black-50" data-bs-target="#ForgetModal" data-bs-toggle="modal" data-bs-dismiss="modal">忘記密碼</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="PrivacyStatementModal" class="modal fade" aria-hidden="true" aria-labelledby="PrivacyStatementModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable justify-content-center">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close rounded-circle" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center fs-4 fw-bold pb-3">隱私聲明</div>
                        <div class="px-4">
                            <div class="fs-5 fw-bold text-center">關於電子郵件資料的使用說明</div>
                            <br />
                            <p>尊敬的用戶，感謝您使用我們的服務。在使用第三方登入（如Line登入）時，我們會從您的帳號中取得您提供的電子郵件地址。以下是我們如何使用您的電子郵件資料的詳細說明：</p>
                            <br />
                            <div class="fs-6 fw-bold">1. 身分驗證</div>
                            <p>我們會使用您的電子郵件來確認您的身分，確保您在本平台上的登錄狀態及安全性。當您使用電子郵件進行登入或註冊時，這些資料將會用於身份確認。</p>
                            <br />
                            <div class="fs-6 fw-bold">2. 忘記密碼通知信</div>
                            <p>若您忘記密碼並請求重設，我們會將重設密碼的通知及相關說明發送至您註冊時所提供的電子郵件地址。這樣可以幫助您快速找回帳號的存取權限。</p>
                            <br />
                            <div class="fs-6 fw-bold">3. 購物通知信</div>
                            <p>在您進行購物時，若有相關狀況（如訂單處理進度、商品發貨通知等），我們會使用您的電子郵件地址來向您發送通知。這樣可以確保您隨時掌握您的購物狀態。</p>
                            <br />
                            <div class="fs-6 fw-bold">4. 付款成功通知信</div>
                            <p>在您完成付款後，會有一封付款成功的通知信發送至您的電子郵件，以便您確認交易是否成功，並持有交易紀錄。</p>
                            <br />
                            <div class="fs-6 fw-bold">5. 客服信箱</div>
                            <p>若您與我們的客服團隊聯繫，我們會通過電子郵件回覆您的問題、提供協助，並處理任何可能需要的客戶服務。</p>
                            <br />
                            <br />
                            <div class="fs-6 fw-bold">隱私與保護</div>
                            <p>我們將會妥善保護您的電子郵件資料，不會將其透露給第三方，除非法律要求或您同意其他用途。您的電子郵件資料僅會用於上述所列的用途，我們將遵循隱私政策來確保您的資料安全。</p>
                            <br />
                            <p>如果您有任何疑慮或問題，請隨時與我們聯繫。</p>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="OtherLoginModal" class="modal fade" aria-hidden="true" aria-labelledby="OtherLoginModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered justify-content-center">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close rounded-circle" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center fs-4 fw-bold">其他登入方式</div>
                        <button class="btn_line w-100 rounded border-0 text-white py-2 fs-5 my-3">LINE</button>
                        <button class="btn_google w-100 rounded border-0 text-white py-2 fs-5 my-3">Google</button>
                        <button class="btn_facebook w-100 rounded border-0 text-white py-2 fs-5 my-3">Facebook</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="RegisterModal" class="modal fade" aria-hidden="true" aria-labelledby="RegisterModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered justify-content-center">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close rounded-circle" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center fs-4 fw-bold">加入會員</div>
                        <form id="RegisterForm" class="card-body needs-validation pb-0" method="post">
                            <input type="hidden" name="authentiity_token" value="@ViewData["XSRF-TOKEN"]" />
                            <div class="register_mail input-group mb-3">
                                <div class="position-absolute ps-3 top-50 d-flex translate-middle-y fs-4">
                                    <span class="material-symbols-outlined text-black-50">mail</span>
                                </div>
                                <input id="InputRegisterMail" class="input_bg form-control rounded border-0 py-3" type="email" aria-label="Input Register Mail" placeholder="信箱" required name="Email">
                            </div>
                            <div class="register_name input-group mb-3">
                                <div class="position-absolute ps-3 top-50 d-flex translate-middle-y fs-4">
                                    <span class="material-symbols-outlined text-black-50">account_circle</span>
                                </div>
                                <input id="InputRegisterName" class="input_bg form-control rounded border-0 py-3" type="text" aria-label="Input Register Name" placeholder="姓名/名稱" required name="Name">
                            </div>
                            <div class="register_new_pass input-group">
                                <div class="position-absolute ps-3 top-50 d-flex translate-middle-y fs-4">
                                    <span class="material-symbols-outlined text-black-50">lock</span>
                                </div>
                                <input id="InputRegisterNewPass" class="input_bg form-control rounded border-0 py-3 pass" type="password" autocomplete="off" aria-label="Input Register New Password" placeholder="密碼" required name="Password">
                                <div class="position-absolute pe-3 end-0 top-50 d-flex translate-middle-y fs-4">
                                    <button class="btn_passtoggle material-symbols-outlined text-black-50 bg-transparent border-0 px-0" title="顯示密碼">visibility_off</button>
                                </div>
                            </div>
                            <div id="RegisterNewPassFeedBack" class="lh-1 text-danger pt-1">密碼需填入8至32個字元 ，並包含英文字母[大寫]、[小寫]、[數字]或[符號]至少三種。</div>
                            <div class="register_check_pass input-group">
                                <div class="position-absolute ps-3 top-50 d-flex translate-middle-y fs-4">
                                    <span class="material-symbols-outlined text-black-50">lock</span>
                                </div>
                                <input id="InputRegisterCheckPass" class="input_bg form-control rounded border-0 py-3 pass" type="password" autocomplete="off" aria-label="Input Register Check Password" placeholder="確認密碼" required name="PasswordConfirm">
                                <div class="position-absolute pe-3 end-0 top-50 d-flex translate-middle-y fs-4">
                                    <button class="btn_passtoggle material-symbols-outlined text-black-50 bg-transparent border-0 px-0" title="顯示密碼">visibility_off</button>
                                </div>
                            </div>
                            <div id="RegisterCheckPassFeedBack" class="lh-1 text-danger pt-1">　</div>
                            <div class="register_vcode input-group">
                                <input id="InputRegisterVCode" class="input_bg form-control rounded border-0 py-3 ps-3" type="text" aria-label="Input Register Verification Code" placeholder="輸入驗證碼" maxlength="4" autocomplete="off" required>
                                <div class="position-absolute d-flex ps-2 me-2 top-50 end-0 translate-middle-y z-index-up ">
                                    <img id="RegisterImgCaptcha" alt="驗證碼" class="img-fluid" src="" />
                                </div>
                            </div>
                        </form>
                        <div class="px-3">
                            <div class="d-flex  justify-content-end pt-0 pb-3">
                                <button class="btn_refresh border-0 bg-transparent text-black-50">刷新驗證碼</button>
                            </div>
                            <div class="form-check">
                                <input id="CheckAccept" class="form-check-input" type="checkbox" value="">
                                @* <label class="form-check-label" for="CheckAccept">我已詳細閱讀並同意<span><a class="text-black text-decoration-underline" href="/@ViewData["OrgName"]/Terms" title="連結至：會員條款(另開新視窗)" target="_blank">會員條款</a></span></label> *@
                                <label class="form-check-label" for="CheckAccept">我已詳細閱讀並同意<span><button class="bg-transparent border-0 px-0 text-decoration-underline" type="button" data-bs-toggle="modal" data-bs-target="#TermsModal"> 會員條款 </button></span></label>
                            </div>
                        </div>
                        <button class="btn_register w-100 rounded border-0 text-white py-2 fs-5 my-3">註　冊</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="TermsModal" class="modal fade" aria-hidden="true" aria-labelledby="TermsModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable justify-content-center">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close rounded-circle" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center fs-4 fw-bold pb-3">會員條款</div>
                        <div class="content px-4">
                            @ViewData["membershipTerms"]
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ResetModal" class="modal fade" aria-hidden="true" aria-labelledby="ResetModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered justify-content-center">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close rounded-circle" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center fs-4 fw-bold">密碼重置</div>
                        <div class="px-3 pt-2">密碼需填入8至32個字元 ，並包含英文字母[大寫]、[小寫]、[數字]或[符號]至少三種。</div>
                        <form id="ResetForm" class="card-body needs-validation" method="post">
                            <input type="hidden" name="authentiity_token" value="@ViewData["XSRF-TOKEN"]" />
                            <div class="reset_old_pass input-group d-none">
                                <div class="position-absolute ps-3 top-50 d-flex translate-middle-y fs-4">
                                    <span class="material-symbols-outlined text-black-50">lock</span>
                                </div>
                                <input id="InputResetOldPass" class="input_bg form-control rounded border-0 py-3 pass" type="password" autocomplete="off" aria-label="Input Old Password" placeholder="舊密碼" required name="OldPassword" disabled>
                                <div class="position-absolute pe-3 end-0 top-50 d-flex translate-middle-y fs-4">
                                    <button class="btn_passtoggle material-symbols-outlined text-black-50 bg-transparent border-0 px-0" title="顯示密碼">visibility_off</button>
                                </div>
                            </div>
                            <div id="ResetOldPassFeedBack" class="lh-1 text-danger pt-1 d-none">　</div>
                            <div class="reset_new_pass input-group">
                                <div class="position-absolute ps-3 top-50 d-flex translate-middle-y fs-4">
                                    <span class="material-symbols-outlined text-black-50">lock</span>
                                </div>
                                <input id="InputResetNewPass" class="input_bg form-control rounded border-0 py-3 pass" type="password" autocomplete="off" aria-label="Input Reset New Password" placeholder="密碼" required name="Password">
                                <div class="position-absolute pe-3 end-0 top-50 d-flex translate-middle-y fs-4">
                                    <button class="btn_passtoggle material-symbols-outlined text-black-50 bg-transparent border-0 px-0" title="顯示密碼">visibility_off</button>
                                </div>
                            </div>
                            <div id="ResetNewPassFeedBack" class="lh-1 text-danger pt-1">　</div>
                            <div class="reset_check_pass input-group">
                                <div class="position-absolute ps-3 top-50 d-flex translate-middle-y fs-4">
                                    <span class="material-symbols-outlined text-black-50">lock</span>
                                </div>
                                <input id="InputResetCheckPass" class="input_bg form-control rounded border-0 py-3 pass" type="password" autocomplete="off" aria-label="Input Reset Check Password" placeholder="確認密碼" required name="PasswordConfirm">
                                <div class="position-absolute pe-3 end-0 top-50 d-flex translate-middle-y fs-4">
                                    <button class="btn_passtoggle material-symbols-outlined text-black-50 bg-transparent border-0 px-0" title="顯示密碼">visibility_off</button>
                                </div>
                            </div>
                            <div id="ResetCheckPassFeedBack" class="lh-1 text-danger pt-1">　</div>
                            <div class="reset_vcode input-group">
                                <input id="InputResetVCode" class="input_bg form-control rounded border-0 py-3 ps-3" type="text" aria-label="Input Reset Verification Code" placeholder="輸入驗證碼" maxlength="4" autocomplete="off" required>
                                <div class="position-absolute d-flex ps-2 me-2 top-50 end-0 translate-middle-y z-index-up ">
                                    <img id="ResetImgCaptcha" alt="驗證碼" class="img-fluid" src="" />
                                </div>
                            </div>
                        </form>
                        <div class="px-3 d-flex justify-content-end">
                            <button class="btn_refresh border-0 bg-transparent text-black-50">刷新驗證碼</button>
                        </div>
                        <button class="btn_reset w-100 rounded border-0 text-white py-2 fs-5 my-3">重　置</button>
                        <button class="btn_resetforget bg-transparent border-0 text-decoration-underline text-black-50 w-100 d-none">忘記密碼?</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="ForgetModal" class="modal fade" aria-hidden="true" aria-labelledby="ForgetModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered justify-content-center">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close rounded-circle" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center fs-4 fw-bold">忘記密碼</div>
                        <form id="ForgetForm" class="card-body needs-validation" method="post">
                            <input type="hidden" name="authentiity_token" value="@ViewData["XSRF-TOKEN"]" />
                            <div class="forget_mail input-group mb-3">
                                <div class="position-absolute ps-3 top-50 d-flex translate-middle-y fs-4">
                                    <span class="material-symbols-outlined text-black-50">mail</span>
                                </div>
                                <input id="InputForgetMail" class="input_bg form-control rounded border-0 py-3" type="email" aria-label="Input Forget Mail" placeholder="信箱" required name="Email">
                            </div>
                            <div class="forget_vcode input-group">
                                <input id="InputForgetVCode" class="input_bg form-control rounded border-0 py-3 ps-3" type="text" aria-label="Input Forget Verification Code" placeholder="輸入驗證碼" maxlength="4" autocomplete="off" required>
                                <div class="position-absolute d-flex ps-2 me-2 top-50 end-0 translate-middle-y z-index-up ">
                                    <img id="ForgetImgCaptcha" alt="驗證碼" class="img-fluid" src="" />
                                </div>
                            </div>
                        </form>
                        <div class="d-flex justify-content-end px-3">
                            <button class="btn_backlogin border-0 bg-transparent text-end text-black-50 me-1">返回登入</button>
                            <button class="btn_refresh border-0 bg-transparent text-black-50">刷新驗證碼</button>
                        </div>
                        <button class="btn_forget w-100 rounded border-0 text-white py-2 fs-5 my-3">發　送</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <div id="videoModal" tabindex="-1" aria-labelledby="videoModal" aria-hidden="true" class="modal fade">
        <div class="modal-dialog modal-xl modal-dialog-centered h-75">
            <div class="modal-content bg-black h-100">
                <div class="modal-header">
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close rounded-circle bg-light"></button>
                </div>
                <div class="modal-body h-100 text-white text-center m-5">
                    <i class="fa fa-duotone fa-spinner fa-spin-pulse fa-10x"></i>
                    <div class="fa-3x massage d-none">影片連結設定錯誤</div>
                </div>
            </div>
        </div>
    </div>
    <div id="SwiperModal" tabindex="-1" aria-labelledby="videoModal" aria-hidden="true" class="modal fade">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-fullscreen">
            <div class="modal-content bg-black h-100">
                <div b-6jkwzezpeq="" class="justify-content-center modal-header position-relative py-2">
                    <div class="imgalt fs-4 text-white"></div>
                    <button b-6jkwzezpeq="" type="button" data-bs-dismiss="modal" aria-label="Close" class="bg-light btn-close end-0 mx-2 position-absolute rounded-circle"></button>
                </div>
                <div class="modal-body">
                    <div id="pictureSwiper" class="swiper pb-2">
                        <div class="swiper-button-prev rounded-circle"></div>
                        <div class="swiper-wrapper"></div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next rounded-circle"></div>
                    </div>
                    <div id="pictureSwiperThumbs" thumbsSlider="" class="swiper pt-2">
                        <div class="swiper-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="FlipBookModal" tabindex="-1" aria-labelledby="FlipBookModalLabel" aria-hidden="true" class="modal fade FlipBookModal">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" aria-label="Close" data-bs-dismiss="modal" id="idmmf" class="btn-close"></button>
                </div>
                <div class="modal-body">
                    <div class="FlipBook">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        @await Component.InvokeAsync(nameof(SideFloating))
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/Shared/c-share.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/lib/jquery-twzipcode/jquery.twzipcode.min.js"></script>
    <script src="~/lib/masonry-layout/dist/masonry.pkgd.min.js"></script>
    <script src="~/Shared/shared.min.js" asp-append-version="true"></script>
    <script defer src="/lib/jscloudimage360/js-cloudimage-360-view.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>